In [1]:
cd '/userdata/pmavrodi/Projekte/Stao/src'

/userdata/pmavrodi/Projekte/Stao/src

In [1]:
import numpy as np

In [2]:


import logging
import pandas as pd
import numpy as np
import configparser
import os
import json

from simple_logging.custom_logging import setup_custom_logger
from input_reader.input_reader import get_input

settingsFile = "settings.cfg"

# logger einrichten
LOGGING_LEVEL = logging.INFO
logger = setup_custom_logger('GM_LOGGER', LOGGING_LEVEL, flog="logs/gm.log")

# SM_MIG_49995_11842

In [3]:
    config = configparser.ConfigParser()
    config.read(settingsFile)
    use_cache = config.getboolean('global', 'cache_enabled')
    cache_dir = config['cache_config']['cache_dir']
    single_store = config['global']['single_store']

    drivetimes_pd = pd.read_pickle(os.path.join(cache_dir,
                                                        config['cache_config']['drivetimes_cached']))

In [4]:
(stores_pd, stores_migros_pd, drivetimes_pd, haushalt_pd, referenz_pd) = get_input(settingsFile, logger)

In [5]:
haushalt_pd

,X_KOORD,Y_KOORD,H14PTOT,H14P01,H14P02,H14P03,H14P04,H14P05,H14P06,H14PI,Anzahl_Personen
RELI,,,,,,,,,,,
48881149,488800,114900,23,3,9,3,6,2,0,1,64
48661118,486600,111800,21,5,3,5,5,1,2,1,63
48801137,488000,113700,18,6,5,4,2,0,1,1,42
49051144,490500,114400,7,0,1,0,5,1,0,1,27
49151124,491500,112400,3,2,0,1,0,0,0,1,5
49311136,493100,113600,9,0,1,2,5,1,0,1,33
49321135,493200,113500,9,0,4,2,2,1,0,1,27
49371178,493700,117800,2,0,1,1,0,0,0,1,5
49361217,493600,121700,1,0,0,0,0,0,1,1,6
49181114,491800,111400,1,0,0,0,1,0,0,1,4
49201145,492000,114500,8,2,0,1,1,2,2,1,31
49201124,492000,112400,2,0,0,2,0,0,0,1,6
49471186,494700,118600,13,8,3,1,1,0,0,1,21
49531205,495300,120500,22,6,12,0,1,0,3,1,52
49621123,496200,112300,33,12,9,6,3,2,1,1,76
49621156,496200,115600,1,0,0,0,0,0,1,2,6
49591154,495900,115400,59,21,12,8,11,6,1,2,149
49651154,496500,115400,26,8,6,9,1,1,1,2,62
49711164,497100,116400,132,39,51,23,9,4,6,2,302
49721152,497200,115200,1,0,1,0,0,0,0,1,2
49721154,497200,115400,6,1,1,1,1,2,0,1,20
49741144,497400,114400,13,2,6,1,4,0,0,1,33
49741203,497400,120300,6,2,0,1,1,0,2,1,21
49761182,497600,118200,21,8,5,4,3,0,1,1,48
49751182,497500,118200,52,7,17,9,12,6,1,1,152
49781148,497800,114800,10,2,4,1,2,1,0,1,26
49771192,497700,119200,118,67,35,10,5,1,0,1,192
49791184,497900,118400,1,1,0,0,0,0,0,1,1
49801156,498000,115600,3,1,2,0,0,0,0,1,5
49831127,498300,112700,1,0,0,0,1,0,0,1,4
...,...,...,...,...,...,...,...,...,...,...,...
50711183,507100,118300,8,2,1,1,4,0,0,1,23
72352810,723500,281000,22,7,9,3,2,0,1,1,48
71682593,716800,259300,14,6,2,2,3,1,0,1,33
49571220,495700,122000,3,1,1,0,0,1,0,1,8
54101565,541000,156500,6,0,3,1,2,0,0,1,17
71511003,715100,100300,22,9,7,5,1,0,0,1,42
63762226,637600,222600,1,0,0,0,0,0,1,1,6
59271164,592700,116400,1,0,0,0,1,0,0,1,4
55782176,557800,217600,1,0,0,0,1,0,0,1,4
57171026,571700,102600,7,1,2,0,2,2,0,1,23
56512329,565100,232900,3,1,1,0,0,0,1,1,9
64442225,644400,222500,8,1,5,0,1,1,0,1,20
73872708,738700,270800,7,3,1,1,1,1,0,1,17
73602604,736000,260400,1,1,0,0,0,0,0,1,1
54772120,547700,212000,47,28,11,3,2,1,2,1,84
57641821,576400,182100,13,5,4,3,1,0,0,1,26
63422314,634200,231400,1,0,1,0,0,0,0,1,2
69062901,690600,290100,1,0,1,0,0,0,0,1,2
69152490,691500,249000,12,2,6,2,2,0,0,1,28
66392446,663900,244600,11,2,7,2,0,0,0,1,22
73432689,734300,268900,2,0,1,0,0,1,0,1,7
61621728,616200,172800,1,0,1,0,0,0,0,1,2
55412022,554100,202200,1,0,1,0,0,0,0,1,2
63512358,635100,235800,2,0,1,1,0,0,0,1,5
65592076,655900,207600,11,5,2,1,2,1,0,1,25
67672374,676700,237400,26,6,11,2,4,2,1,1,66
66092480,660900,248000,5,1,1,1,1,1,0,1,15
63832469,638300,246900,2,1,1,0,0,0,0,1,3
71922310,719200,231000,4,0,3,0,1,0,0,1,10
61642458,616400,245800,1,0,0,1,0,0,0,1,3

In [28]:
enriched_pruned_pd = pd.read_pickle(config["output"]["output_pickle"])

In [32]:
enriched_pruned_pd['RLAT'] = np.where(enriched_pruned_pd.VERKAUFSFLAECHE_TOTAL > 2000, 0, enriched_pruned_pd.VERKAUFSFLAECHE_TOTAL)

In [33]:
enriched_pruned_pd.head(19)

,hektar_id,type,OBJECTID,fahrzeit,ID,FORMAT,VERKAUFSFLAECHE,VERKAUFSFLAECHE_TOTAL,RELEVANZ,H14PTOT,H14PTOT_corrected,LAT,RLAT
0,48621110,ALD,2944,20,SM_ALD_49747_11594,Aldi Supermarkt,115.00,1000.000,0.80,NaN,1.0,48.000000,1000.0
1,48621110,COO,3382,16,SM_COO_49438_11455,Coop Supermarkt,1000.00,600.000,1.00,NaN,1.0,36.000000,600.0
2,48621110,COO,3821,20,SM_COO_49697_11599,Coop Supermarkt,450.00,1640.000,1.00,NaN,1.0,68.533333,1640.0
3,48621110,COO,4032,21,SM_COO_49638_11982,Coop Supermarkt,1000.00,5070.000,1.00,NaN,1.0,94.685714,0.0
4,48621110,DEN,1362,20,SM_DEN_49751_11594,Denner Discount,374.00,374.000,1.00,NaN,1.0,22.440000,374.0
5,48621110,LAN,2255,16,SM_LAN_49404_11314,Landi,921.00,921.000,0.05,NaN,1.0,2.763000,921.0
6,48621110,LID,4229,20,SM_LID_49749_11596,Lidl Supermarkt,172.00,1000.000,0.80,NaN,1.0,48.000000,1000.0
7,48621110,MAN,4290,26,SM_MAN_49996_11815,Manor,172.00,1000.000,0.05,NaN,1.0,3.000000,1000.0
8,48621110,MIG,1993,18,SM_MIG_49646_11542,migrolino,150.00,150.000,1.00,NaN,1.0,9.000000,150.0
9,48621110,MIG,816,21,SM_MIG_49743_11609,MM,1229.50,2355.271,1.00,NaN,1.0,78.070280,0.0
10,48621110,MIG,803,22,SM_MIG_49768_11948,MMM,986.37,8026.021,1.00,NaN,1.0,111.577263,0.0
11,48621110,PAM,5154,21,SM_PAM_49690_11653,NaN,172.00,172.000,1.00,NaN,1.0,10.320000,172.0
0,48621113,ALD,2944,16,SM_ALD_49747_11594,Aldi Supermarkt,115.00,1000.000,0.80,1.0,1.0,48.000000,1000.0
1,48621113,COO,3382,12,SM_COO_49438_11455,Coop Supermarkt,1000.00,600.000,1.00,1.0,1.0,36.000000,600.0
2,48621113,COO,3821,16,SM_COO_49697_11599,Coop Supermarkt,450.00,1640.000,1.00,1.0,1.0,68.533333,1640.0
3,48621113,COO,4032,17,SM_COO_49638_11982,Coop Supermarkt,1000.00,5070.000,1.00,1.0,1.0,94.685714,0.0
4,48621113,DEN,1362,16,SM_DEN_49751_11594,Denner Discount,374.00,374.000,1.00,1.0,1.0,22.440000,374.0
5,48621113,LAN,2255,12,SM_LAN_49404_11314,Landi,921.00,921.000,0.05,1.0,1.0,2.763000,921.0
6,48621113,LID,4229,16,SM_LID_49749_11596,Lidl Supermarkt,172.00,1000.000,0.80,1.0,1.0,48.000000,1000.0

In [13]:
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
    'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

dd = pd.DataFrame(d)
dd

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [23]:
str(-2.0001)

'-2.0001'

In [6]:
 relevant_hektars = set(drivetimes_pd.loc[stores_migros_pd.ID]['hektar_id'])

KeyError: 'None of [OBJECTID\n14      FM\n17      FM\n466     FM\n519     FM\n530     FM\n536     FM\n537     FM\n928     FM\n1047    FM\nName: ID, dtype: object] are in the [index]'

In [8]:
drivetimes_rel_hektars_pd = drivetimes_pd[drivetimes_pd['hektar_id'].isin(relevant_hektars)]

In [9]:
drivetimes_rel_hektars_stores_pd = drivetimes_rel_hektars_pd.merge(
    stores_pd[['ID', 'FORMAT', 'VERKAUFSFLAECHE', 'VERKAUFSFLAECHE_TOTAL', 'RELEVANZ', 'type']],
    left_index=True, right_on='ID', how='inner')

In [10]:
enriched_pd = drivetimes_rel_hektars_stores_pd.merge(haushalt_pd[['H14PTOT']], left_on='hektar_id', right_index=True, how='left')

In [11]:
enriched_pd['H14PTOT_corrected'] = enriched_pd['H14PTOT'].fillna(1)

In [223]:
enriched_pd['LAT'] = np.where(enriched_pd.VERKAUFSFLAECHE_TOTAL < 1000,
                                      enriched_pd.RELEVANZ * enriched_pd.VERKAUFSFLAECHE_TOTAL * 0.06,
                                      np.where((enriched_pd.VERKAUFSFLAECHE_TOTAL >= 1000) & (
                                                enriched_pd.VERKAUFSFLAECHE_TOTAL < 2500),
                            enriched_pd.RELEVANZ*(20 * (enriched_pd.VERKAUFSFLAECHE_TOTAL - 1000) / 1500 + 60),
                            enriched_pd.RELEVANZ*(20 * (enriched_pd.VERKAUFSFLAECHE_TOTAL - 2500) / 3500 + 80)))
a=1.1
b=0.001
enriched_pd['RLAT'] = enriched_pd['LAT'] * np.power(10, -(a - b*np.fmin(enriched_pd['LAT'], 60)) * enriched_pd['fahrzeit'])

In [224]:
enriched_pd = enriched_pd.reset_index().set_index(keys=['hektar_id', 'type', 'OBJECTID'])

In [225]:
enriched_pd=enriched_pd[~enriched_pd.index.duplicated(keep='first')]
enriched_pd = enriched_pd.reset_index().set_index(keys=['hektar_id', 'type'])#.sort_index(level=[0,1])

In [15]:
len(enriched_pd.loc[enriched_pd['ID']=='SM_MIG_49995_11842'])

12939

In [226]:
# ohne pruning
enriched_pruned_pd = enriched_pd.reset_index()

In [227]:
enriched_pruned_pd['sum_RLATS'] = enriched_pruned_pd.groupby('hektar_id')[["RLAT"]].transform(lambda x: np.sum(x))

In [228]:
enriched_pruned_pd['dRLAT_da'] = -1.0 * enriched_pruned_pd['fahrzeit'] * np.log(10) * enriched_pruned_pd['RLAT']
enriched_pruned_pd['dRLAT_db'] = enriched_pruned_pd['fahrzeit'] * np.log(10) * enriched_pruned_pd['RLAT'] * np.where(enriched_pruned_pd.LAT <= 60, enriched_pruned_pd.LAT, 1.0)
enriched_pruned_pd['dS_RLATda'] = enriched_pruned_pd.groupby('hektar_id')[['dRLAT_da']].transform(lambda x: np.sum(x))
enriched_pruned_pd['dS_RLATdb'] = enriched_pruned_pd.groupby('hektar_id')[['dRLAT_db']].transform(lambda x: np.sum(x))

In [229]:
enriched_pruned_pd['inner_sum_terms_a'] = (enriched_pruned_pd['dRLAT_da'] * enriched_pruned_pd['sum_RLATS'] - enriched_pruned_pd['RLAT'] * enriched_pruned_pd['dS_RLATda']) * enriched_pruned_pd['H14PTOT'] / np.power(enriched_pruned_pd['sum_RLATS'],2)
enriched_pruned_pd['inner_sum_terms_b'] = (enriched_pruned_pd['dRLAT_db'] * enriched_pruned_pd['sum_RLATS'] - enriched_pruned_pd['RLAT'] * enriched_pruned_pd['dS_RLATdb']) * enriched_pruned_pd['H14PTOT'] / np.power(enriched_pruned_pd['sum_RLATS'],2)
enriched_pruned_pd['sum_terms_a'] = enriched_pruned_pd.groupby('OBJECTID')[["inner_sum_terms_a"]].transform(lambda x: np.nansum(x))
enriched_pruned_pd['sum_terms_b'] = enriched_pruned_pd.groupby('OBJECTID')[["inner_sum_terms_b"]].transform(lambda x: np.nansum(x))

In [201]:
enriched_pruned_pd.head(2)

,hektar_id,type,OBJECTID,fahrzeit,ID,FORMAT,VERKAUFSFLAECHE,VERKAUFSFLAECHE_TOTAL,RELEVANZ,H14PTOT,...,RLAT2,sum_RLATS,dRLAT_da,dRLAT_db,dS_RLATda,dS_RLATdb,inner_sum_terms_a,inner_sum_terms_b,sum_terms_a,sum_terms_b
0,49971200,MIG,10,8,SM_MIG_49997_11718,SPEZ,157.476,157.476,1.0,NaN,...,1.78219,2094.204190,-32.829161,310.188295,-39901.692979,571473.344364,NaN,NaN,1194.351917,-31732.276495
1,49971201,MIG,10,8,SM_MIG_49997_11718,SPEZ,157.476,157.476,1.0,NaN,...,1.78219,2051.812198,-32.829161,310.188295,-40166.645457,573699.319840,NaN,NaN,1194.351917,-31732.276495

In [202]:
enriched_pruned_pd.sum_terms_b.sum()

-19808588696.583004

In [230]:
enriched_pruned_pd['Marktanteil'] = enriched_pruned_pd['RLAT'] / enriched_pruned_pd['sum_RLATS']
enriched_pruned_pd['LokalUP'] = enriched_pruned_pd['Marktanteil'] * enriched_pruned_pd['H14PTOT'] * 7800
enriched_pruned_pd['LokalUP_corrected'] = enriched_pruned_pd['Marktanteil'] * enriched_pruned_pd['H14PTOT_corrected'] * 7800
enriched_pruned_pd['Missing_HH_Hektare'] = np.isnan(enriched_pruned_pd['H14PTOT'])

In [204]:
enriched_pruned_pd.head(5)

,hektar_id,type,OBJECTID,fahrzeit,ID,FORMAT,VERKAUFSFLAECHE,VERKAUFSFLAECHE_TOTAL,RELEVANZ,H14PTOT,...,dS_RLATda,dS_RLATdb,inner_sum_terms_a,inner_sum_terms_b,sum_terms_a,sum_terms_b,Marktanteil,LokalUP,LokalUP_corrected,Missing_HH_Hektare
0,49971200,MIG,10,8,SM_MIG_49997_11718,SPEZ,157.476,157.476,1.0,NaN,...,-39901.692979,571473.344364,NaN,NaN,1194.351917,-31732.276495,0.000851,NaN,6.637884,True
1,49971201,MIG,10,8,SM_MIG_49997_11718,SPEZ,157.476,157.476,1.0,NaN,...,-40166.645457,573699.319840,NaN,NaN,1194.351917,-31732.276495,0.000869,NaN,6.775028,True
2,49971204,MIG,10,8,SM_MIG_49997_11718,SPEZ,157.476,157.476,1.0,NaN,...,-40282.403035,571111.147794,NaN,NaN,1194.351917,-31732.276495,0.000906,NaN,7.064973,True
3,49971206,MIG,10,8,SM_MIG_49997_11718,SPEZ,157.476,157.476,1.0,2.0,...,-40637.452717,570281.459037,0.005166,-0.229539,1194.351917,-31732.276495,0.000930,14.503424,14.503424,False
4,49971207,MIG,10,9,SM_MIG_49997_11718,SPEZ,157.476,157.476,1.0,NaN,...,-40696.851398,571338.886332,NaN,NaN,1194.351917,-31732.276495,0.000763,NaN,5.951744,True

In [231]:
migros_only_pd = enriched_pruned_pd[enriched_pruned_pd['OBJECTID'].isin(stores_migros_pd.index.values)]

In [232]:
umsatz_potential_pd = migros_only_pd.groupby('OBJECTID').agg({'ID': lambda x: x.iloc[0],
                                                                  'sum_terms_a': lambda x: x.iloc[0],
                                                                  'sum_terms_b': lambda x: x.iloc[0],
                                                                  'LokalUP': lambda x: np.nansum(x),
                                                                  'LokalUP_corrected': lambda x: np.nansum(x),
                                                                  'Missing_HH_Hektare': lambda x: (np.sum(x), len(x))
                                                                 })
umsatz_potential_pd = umsatz_potential_pd.rename(columns={'LokalUP': 'Umsatzpotential',
                                                              'LokalUP_corrected': 'Umsatzpotential_corrected'})
umsatz_potential_pd = umsatz_potential_pd.merge(referenz_pd, left_index=True, right_index=True, how='inner')

umsatz_potential_pd['dE_dai'] = 2.0 * (umsatz_potential_pd['Umsatzpotential'] -
                                            umsatz_potential_pd['Tatsechlicher Umsatz - FOOD_AND_FRISCHE']) * \
                                    umsatz_potential_pd['sum_terms_a']
umsatz_potential_pd['dE_dai2'] = 2.0 * (umsatz_potential_pd['Umsatzpotential'] / umsatz_potential_pd['Tatsechlicher Umsatz - FOOD_AND_FRISCHE'] - 1) * \
                                    umsatz_potential_pd['sum_terms_a'] / umsatz_potential_pd['Tatsechlicher Umsatz - FOOD_AND_FRISCHE']

umsatz_potential_pd['dlogE_dai'] = 2.0 * np.log(umsatz_potential_pd['Umsatzpotential'] /
                                            umsatz_potential_pd['Tatsechlicher Umsatz - FOOD_AND_FRISCHE']) * \
                                    umsatz_potential_pd['sum_terms_a'] / umsatz_potential_pd['Umsatzpotential']
    

umsatz_potential_pd['dE_dbi'] = 2.0 * (umsatz_potential_pd['Umsatzpotential'] -
                                            umsatz_potential_pd['Tatsechlicher Umsatz - FOOD_AND_FRISCHE']) * \
                                    umsatz_potential_pd['sum_terms_b']

umsatz_potential_pd['dE_dbi2'] = 2.0 * (umsatz_potential_pd['Umsatzpotential'] / umsatz_potential_pd['Tatsechlicher Umsatz - FOOD_AND_FRISCHE'] - 1) * \
                                    umsatz_potential_pd['sum_terms_b'] / umsatz_potential_pd['Tatsechlicher Umsatz - FOOD_AND_FRISCHE']

umsatz_potential_pd['dlogE_dbi'] = 2.0 * np.log(umsatz_potential_pd['Umsatzpotential'] /
                                            umsatz_potential_pd['Tatsechlicher Umsatz - FOOD_AND_FRISCHE']) * \
                                    umsatz_potential_pd['sum_terms_b'] / umsatz_potential_pd['Umsatzpotential']

In [233]:
umsatz_potential_pd

,sum_terms_b,sum_terms_a,Umsatzpotential_corrected,Missing_HH_Hektare,ID_x,Umsatzpotential,ID_y,FORMAT,MP - CALCULATED_REVENUE 1,MP - CALCULATED_REVENUE 2,Tatsechlicher Umsatz - FOOD_AND_FRISCHE,dE_dai,dE_dai2,dlogE_dai,dE_dbi,dE_dbi2,dlogE_dbi
OBJECTID,,,,,,,,,,,,,,,,,
118,12358.235434,446.247071,7.299272e+06,"(1677, 12939)",SM_MIG_49995_11842,7.285632e+06,SM_MIG_49995_11842,M,7811820,3469933,16516542.0,-8.238533e+09,-0.00003,-0.0001,-2.281555e+11,-0.000836,-0.002777

In [221]:
umsatz_potential_pd

,sum_terms_b,sum_terms_a,Umsatzpotential_corrected,Missing_HH_Hektare,ID_x,Umsatzpotential,ID_y,FORMAT,MP - CALCULATED_REVENUE 1,MP - CALCULATED_REVENUE 2,Tatsechlicher Umsatz - FOOD_AND_FRISCHE,dE_dai,dE_dai2,dlogE_dai,dE_dbi,dE_dbi2,dlogE_dbi
OBJECTID,,,,,,,,,,,,,,,,,
118,76651.441515,3427.973217,6.235555e+06,"(1677, 12939)",SM_MIG_49995_11842,6.205401e+06,SM_MIG_49995_11842,M,7811820,3469933,16516542.0,-7.069263e+10,-0.000259,-0.001082,-1.580728e+12,-0.005795,-0.024185

In [256]:
52655981687891.375000-52655981687891.023438

0.3515625

In [255]:
x[4 % 3]=30
x.mean()

16.666666666666668

In [208]:
np.log((umsatz_potential_pd['Umsatzpotential'] / umsatz_potential_pd['Tatsechlicher Umsatz - FOOD_AND_FRISCHE']))

OBJECTID
118   -0.978942
dtype: float64

In [222]:
umsatz_potential_pd.dE_dai.sum()

-70692632613.51297

In [236]:
np.log((umsatz_potential_pd['Umsatzpotential'] / umsatz_potential_pd['Tatsechlicher Umsatz - FOOD_AND_FRISCHE']))

OBJECTID
118   -0.818458
dtype: float64

In [240]:
np.absolute(-2.22)

2.2200000000000002

In [106]:
from multiprocessing import Pool, cpu_count
chunk_size = int(config["parallel"]["chunk_size"])

def applyParallel(dfGrouped, func):
    with Pool(1) as p:
        ret_list = p.map(func, [group for name, group in dfGrouped], chunksize = chunk_size)
    return pd.concat(ret_list)

In [107]:
def prune(d):
    
    def prune_fz(dd):
        if len(dd) == 1:
            return dd
        else:
            idx_to_return = dd['RLAT'] == np.max(dd['RLAT'])
            return dd.loc[idx_to_return]
    
    d_sorted = d.sort_values(by='fahrzeit', ascending=True)
    d_pruned = d_sorted.groupby(['fahrzeit']).apply(prune_fz)

    tmp = [x for x in d_pruned.index.names]
    if (tmp[0] == 'fahrzeit'):
        tmp[0] = 'a'
    d_pruned.index.names = tmp
    d_pruned = d_pruned.reset_index().set_index(keys=['hektar_id', 'type'])
    
    for column_to_delete in ['a', 'level_1', 'index']:
        if column_to_delete in d_pruned:
            del d_pruned[column_to_delete]

        
    while True:
        diffs = np.diff(d_pruned['RLAT'])
        return_idx = (diffs > 0)
        return_idx = np.insert(return_idx, 0, True) # always take the first entry
        d_pruned = d_pruned.loc[return_idx]
        if len(d_pruned) == 1 or all(return_idx):
            break
    
    return d_pruned

In [108]:
def prune2(d):
    ret = d.reset_index().groupby('type').apply(prune)
    ret.index.names = ['a', 'hektar_id', 'type']
    ret = ret.reset_index()
    del ret['a']
    return ret

In [109]:
y = applyParallel(groups, prune2)

Process ForkPoolWorker-1:
Traceback (most recent call last):
  File "/opt/r/anaconda/lib/python3.5/multiprocessing/process.py", line 249, in _bootstrap
    self.run()
  File "/opt/r/anaconda/lib/python3.5/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/r/anaconda/lib/python3.5/multiprocessing/pool.py", line 119, in worker
    result = (True, func(*args, **kwds))
  File "/opt/r/anaconda/lib/python3.5/multiprocessing/pool.py", line 44, in mapstar
    return list(map(*args))
  File "<ipython-input-108-e1defb7ceab0>", line 2, in prune2
    ret = d.reset_index().groupby('type').apply(prune)
  File "/opt/r/anaconda/lib/python3.5/site-packages/pandas/core/groupby.py", line 651, in apply
    return self._python_apply_general(f)
  File "/opt/r/anaconda/lib/python3.5/site-packages/pandas/core/groupby.py", line 655, in _python_apply_general
    self.axis)
  File "/opt/r/anaconda/lib/python3.5/site-packages/pandas/core/groupby.py", line 1511, in apply
    values, mutated = splitter.fast_apply(f, group_keys)
  File "/opt/r/anaconda/lib/python3.5/site-packages/pandas/core/groupby.py", line 3931, in fast_apply
    results, mutated = lib.apply_frame_axis0(sdata, f, names, starts, ends)
  File "pandas/src/reduce.pyx", line 511, in pandas.lib.apply_frame_axis0 (pandas/lib.c:41631)
  File "/opt/r/anaconda/lib/python3.5/site-packages/pandas/core/groupby.py", line 647, in f
    return func(g, *args, **kwargs)
  File "<ipython-input-107-c76d82f6c59e>", line 11, in prune
    d_pruned = d_sorted.groupby(['fahrzeit']).apply(prune_fz)
  File "/opt/r/anaconda/lib/python3.5/site-packages/pandas/core/groupby.py", line 651, in apply
    return self._python_apply_general(f)
  File "/opt/r/anaconda/lib/python3.5/site-packages/pandas/core/groupby.py", line 660, in _python_apply_general
    not_indexed_same=mutated or self.mutated)
  File "/opt/r/anaconda/lib/python3.5/site-packages/pandas/core/groupby.py", line 3233, in _wrap_applied_output
    not_indexed_same=not_indexed_same)
  File "/opt/r/anaconda/lib/python3.5/site-packages/pandas/core/groupby.py", line 814, in _concat_objects
    result = concat(values, axis=self.axis)
  File "/opt/r/anaconda/lib/python3.5/site-packages/pandas/tools/merge.py", line 846, in concat
    return op.get_result()
  File "/opt/r/anaconda/lib/python3.5/site-packages/pandas/tools/merge.py", line 1038, in get_result
    copy=self.copy)
  File "/opt/r/anaconda/lib/python3.5/site-packages/pandas/core/internals.py", line 4545, in concatenate_block_managers
    for placement, join_units in concat_plan]
  File "/opt/r/anaconda/lib/python3.5/site-packages/pandas/core/internals.py", line 4545, in <listcomp>
    for placement, join_units in concat_plan]
  File "/opt/r/anaconda/lib/python3.5/site-packages/pandas/core/internals.py", line 4650, in concatenate_join_units
    concat_values = _concat._concat_compat(to_concat, axis=concat_axis)
  File "/opt/r/anaconda/lib/python3.5/site-packages/pandas/types/concat.py", line 117, in _concat_compat
    typs = get_dtype_kinds(to_concat)
  File "/opt/r/anaconda/lib/python3.5/site-packages/pandas/types/concat.py", line 33, in get_dtype_kinds
    elif com.is_datetime64_dtype(dtype):
  File "/opt/r/anaconda/lib/python3.5/site-packages/pandas/core/common.py", line 1568, in is_datetime64_dtype
    try:
KeyboardInterrupt

KeyboardInterrupt:

In [154]:
groups.count()

,OBJECTID,fahrzeit,ID,FORMAT,VERKAUFSFLAECHE,VERKAUFSFLAECHE_TOTAL,RELEVANZ,H14PTOT,H14PTOT_corrected,LAT,RLAT
hektar_id,,,,,,,,,,,
66322435,631,631,631,619,631,631,631,631,631,631,631
66322436,635,635,635,623,635,635,635,635,635,635,635
66322437,636,636,636,624,636,636,636,636,636,636,636
66322438,640,640,640,628,640,640,640,640,640,640,640
66322439,647,647,647,634,647,647,647,647,647,647,647
66322440,653,653,653,640,653,653,653,653,653,653,653
66322441,654,654,654,641,654,654,654,654,654,654,654
66322442,657,657,657,644,657,657,657,657,657,657,657
66322443,659,659,659,646,659,659,659,659,659,659,659
66322444,660,660,660,647,660,660,660,660,660,660,660
66322445,663,663,663,650,663,663,663,663,663,663,663
66322446,670,670,670,656,670,670,670,670,670,670,670
66322447,673,673,673,659,673,673,673,673,673,673,673
66322448,665,665,665,651,665,665,665,665,665,665,665
66322449,663,663,663,649,663,663,663,663,663,663,663
66322450,194,194,194,194,194,194,194,194,194,194,194

In [143]:
stores_migros_pd

,ID,RETAILER,FORMAT,STRASSE,PLZ,ORT,VERKAUFSFLAECHE_TOTAL,VERKAUFSFLAECHE,Y,X,RELEVANZ,PROFIT_KST,UMSATZ_FOOD,UMSATZ_FRISCHE,UMSATZ_NEAR_NONFOOD,UMSATZ_FACHMARKT,type
OBJECTID,,,,,,,,,,,,,,,,,
834,SM_MIG_68080_24815,Migros,M,Badenerstrasse 376,8004,Zürich,1064.582,516.58,680806.9627,248154.6014,1.0,150327.0,3756359.05,7359424.2,2156160.77,226835.98,MIG

In [151]:
stores_migros_pd

,ID,RETAILER,FORMAT,STRASSE,PLZ,ORT,VERKAUFSFLAECHE_TOTAL,VERKAUFSFLAECHE,Y,X,RELEVANZ,PROFIT_KST,UMSATZ_FOOD,UMSATZ_FRISCHE,UMSATZ_NEAR_NONFOOD,UMSATZ_FACHMARKT,type
OBJECTID,,,,,,,,,,,,,,,,,
834,SM_MIG_68080_24815,Migros,M,Badenerstrasse 376,8004,Zürich,1064.582,516.58,680806.9627,248154.6014,1.0,150327.0,3756359.05,7359424.2,2156160.77,226835.98,MIG

In [91]:
enriched_pruned_pd = enriched_pd
def calc_MA(x):
    x['Marktanteil'] = x['RLAT'] / np.nansum(x['RLAT'])
    return x

enriched_pruned_pd = enriched_pruned_pd.reset_index().groupby(by='hektar_id').apply(calc_MA)

In [92]:
enriched_pruned_pd['LokalUP'] = enriched_pruned_pd['Marktanteil'] * enriched_pruned_pd['H14PTOT'] * 7800
enriched_pruned_pd['LokalUP_corrected'] = enriched_pruned_pd['Marktanteil'] * enriched_pruned_pd['H14PTOT_corrected'] * 7800
enriched_pruned_pd['Missing_HH_Hektare'] = np.isnan(enriched_pruned_pd['H14PTOT'])

In [93]:
migros_only_pd = enriched_pruned_pd[enriched_pruned_pd['OBJECTID'].isin(stores_migros_pd.index.values)]

In [ ]:
migros_only_pd.head()

,hektar_id,type,OBJECTID,fahrzeit,ID,FORMAT,VERKAUFSFLAECHE,VERKAUFSFLAECHE_TOTAL,RELEVANZ,H14PTOT,H14PTOT_corrected,LAT,RLAT,Marktanteil,LokalUP,LokalUP_corrected,Missing_HH_Hektare
53648,49971200,MIG,118,5,SM_MIG_49995_11842,M,270.37,412.292,1.0,NaN,1.0,24.73752,10.40025,0.004966,NaN,38.736407,True
53649,49971201,MIG,118,5,SM_MIG_49995_11842,M,270.37,412.292,1.0,NaN,1.0,24.73752,10.40025,0.005069,NaN,39.536731,True
53650,49971204,MIG,118,5,SM_MIG_49995_11842,M,270.37,412.292,1.0,NaN,1.0,24.73752,10.40025,0.005286,NaN,41.228748,True
53651,50921477,MIG,118,30,SM_MIG_49995_11842,M,270.37,412.292,1.0,1.0,1.0,24.73752,0.13661,0.000309,2.409180,2.409180,False
53652,49971206,MIG,118,5,SM_MIG_49995_11842,M,270.37,412.292,1.0,2.0,2.0,24.73752,10.40025,0.005425,84.636986,84.636986,False

In [95]:
umsatz_potential_pd = migros_only_pd.groupby('OBJECTID').agg({'LokalUP': lambda x: np.nansum(x),
                                                                 'LokalUP_corrected': lambda x: np.nansum(x),
                                                              'Missing_HH_Hektare': lambda x: (np.sum(x), len(x))
                                                                })

In [96]:
umsatz_potential_pd

         Missing_HH_Hektare       LokalUP  LokalUP_corrected
OBJECTID
118           (1677, 12939)  6.205401e+06       6.235555e+06

In [28]:
len(dflist[1:4])

3

In [19]:
# run ipcluster start -n 120 before this
from ipyparallel import Client
rc = Client()
lview = rc.load_balanced_view()
lview.block = True

In [27]:
parallel_list = lview.map(prune, dflist[1:4])

In [123]:
y

,,,OBJECTID,fahrzeit,ID,FORMAT,VERKAUFSFLAECHE,VERKAUFSFLAECHE_TOTAL,RELEVANZ,H14PTOT,H14PTOT_corrected,LAT,RLAT
fahrzeit,hektar_id,type,,,,,,,,,,,
4,64542616,ALD,2887,4,SM_ALD_64465_26140,Aldi Supermarkt,115.0,1000.0,0.8,3,3,48.0,1.000000
5,64542616,ALD,2828,5,SM_ALD_64677_24927,Aldi Supermarkt,115.0,1000.0,0.8,3,3,48.0,5.562131
6,64542616,ALD,2881,6,SM_ALD_66431_25458,Aldi Supermarkt,115.0,1000.0,0.8,3,3,48.0,6.000000

In [121]:
x.head()

                OBJECTID  fahrzeit                  ID           FORMAT  \
hektar_id type
64542616  ALD       2887         4  SM_ALD_64465_26140  Aldi Supermarkt
          ALD       2828         5  SM_ALD_64677_24927  Aldi Supermarkt
          ALD       2881         6  SM_ALD_66431_25458  Aldi Supermarkt
          ALD       2853        19  SM_ALD_64852_24872  Aldi Supermarkt
          ALD       2885        21  SM_ALD_62132_26115  Aldi Supermarkt

                VERKAUFSFLAECHE  VERKAUFSFLAECHE_TOTAL  RELEVANZ  H14PTOT  \
hektar_id type
64542616  ALD             115.0                 1000.0       0.8        3
          ALD             115.0                 1000.0       0.8        3
          ALD             115.0                 1000.0       0.8        3
          ALD             115.0                 1000.0       0.8        3
          ALD             115.0                 1000.0       0.8        3

                H14PTOT_corrected   LAT      RLAT
hektar_id type
64542616  ALD                   3  48.0  1.000000
          ALD                   3  48.0  5.562131
          ALD                   3  48.0  6.000000
          ALD                   3  48.0  5.500000
          ALD                   3  48.0  5.700000

In [64]:
x['ismax'] = x['RLAT'] == np.max(x['RLAT'])

In [66]:
x[x['ismax']]

                                      RLAT                  ID  \
hektar_id type OBJECTID fahrzeit
64542616  ALD  2828     18        5.562131  SM_ALD_64677_24927
               2881     18        5.562131  SM_ALD_66431_25458

                                           FORMAT  VERKAUFSFLAECHE  \
hektar_id type OBJECTID fahrzeit
64542616  ALD  2828     18        Aldi Supermarkt            115.0
               2881     18        Aldi Supermarkt            115.0

                                  VERKAUFSFLAECHE_TOTAL  RELEVANZ  H14PTOT  \
hektar_id type OBJECTID fahrzeit
64542616  ALD  2828     18                       1000.0       0.8        3
               2881     18                       1000.0       0.8        3

                                  H14PTOT_corrected   LAT ismax
hektar_id type OBJECTID fahrzeit
64542616  ALD  2828     18                        3  48.0  True
               2881     18                        3  48.0  True

In [46]:
def pr(x):
    x['diff1'] = x['RLAT'] - x['RLAT'].iloc[0]
    return x

enriched_pruned_pd = enriched_pd.groupby(by=['hektar_id', 'type']).apply(pr)

# sorted['diff1'] = sorted['RLAT'] - sorted['RLAT'].iloc[0]
# sorted['diff2'] = sorted['RLAT'].iloc[1:len(sorted)] - sorted['RLAT'].shift(1)
# sorted = sorted[(sorted['diff1'] >= 0) & ( (sorted['diff2'] >=0 ) | np.isnan(sorted['diff2']))]

In [28]:
a=enriched_pd.head()
a
# a.loc[a['fahrzeit']==14,'RLAT']=32
# a.loc[a['fahrzeit']==19,'RLAT']=34

                         fahrzeit                  ID FORMAT  VERKAUFSFLAECHE  \
hektar_id type OBJECTID
66322435  MIG  8               10  SM_MIG_66835_23607     MM          1001.19
               18              19  SM_MIG_64852_24674   SPEZ             0.00
               26              28  SM_MIG_67548_25665    VOI           220.00
               39              14  SM_MIG_66250_25169      M           698.26
               47              26  SM_MIG_67962_24716    VOI           220.00

                         VERKAUFSFLAECHE_TOTAL  RELEVANZ  H14PTOT  \
hektar_id type OBJECTID
66322435  MIG  8                      1787.864       1.0       10
               18                      330.895       1.0       10
               26                      220.000       1.0       10
               39                     1098.812       1.0       10
               47                      220.000       1.0       10

                         H14PTOT_corrected        LAT       RLAT
hektar_id type OBJECTID
66322435  MIG  8                        10  70.504853  28.068488
               18                       10  19.853700   0.595747
               26                       10  13.200000   0.048998
               39                       10  61.317493  16.888240
               47                       10  13.200000   0.073076

In [29]:
def prune(x):
    sorted = x.sort_values(axis='index', by='fahrzeit')
    # sorted['diff1'] = sorted['RLAT'] - sorted['RLAT'].iloc[0]
    # sorted['diff2'] = sorted['RLAT'].iloc[1:len(sorted)] - sorted['RLAT'].shift(1)
    # sorted = sorted[(sorted['diff1'] >= 0) & ( (sorted['diff2'] >=0 ) | np.isnan(sorted['diff2']))] 
    return sorted
    
grouped=a.groupby(level=[0,1]).apply(prune)

In [132]:
enriched_pruned_pd.head()

,hektar_id,type,OBJECTID,fahrzeit,ID,FORMAT,VERKAUFSFLAECHE,VERKAUFSFLAECHE_TOTAL,RELEVANZ,H14PTOT,H14PTOT_corrected,LAT,RLAT,Marktanteil,LokalUP,LokalUP_corrected
0,64542616,ALD,2887,4,SM_ALD_64465_26140,Aldi Supermarkt,115.0,1000.0,0.80,3,3,48.000000,29.733172,0.159142,3723.919404,3723.919404
1,64542616,COO,3546,4,SM_COO_64373_26219,Coop Supermarkt,1000.0,2600.0,1.00,3,3,80.571429,55.741810,0.298349,6981.361066,6981.361066
2,64542616,DEN,1109,3,SM_DEN_64420_26194,Denner Discount,374.0,374.0,1.00,3,3,22.440000,13.132362,0.070289,1644.757549,1644.757549
3,64542616,LAN,2309,5,SM_LAN_64135_26492,Landi,921.0,921.0,0.05,3,3,2.763000,0.901978,0.004828,112.967865,112.967865
4,64542616,LID,4226,5,SM_LID_64325_26299,Lidl Supermarkt,172.0,1000.0,0.80,3,3,48.000000,26.377962,0.141184,3303.697488,3303.697488

In [130]:
    def calc_MA(x):
        x['Marktanteil'] = x['RLAT'] / np.nansum(x['RLAT'])
        return x

In [131]:
enriched_pruned_pd.groupby(by='hektar_id').apply(calc_MA)

,hektar_id,type,OBJECTID,fahrzeit,ID,FORMAT,VERKAUFSFLAECHE,VERKAUFSFLAECHE_TOTAL,RELEVANZ,H14PTOT,H14PTOT_corrected,LAT,RLAT,Marktanteil,LokalUP,LokalUP_corrected
0,64542616,ALD,2887,4,SM_ALD_64465_26140,Aldi Supermarkt,115.00,1000.000,0.80,3,3,48.000000,29.733172,0.159142,3723.919404,3723.919404
1,64542616,COO,3546,4,SM_COO_64373_26219,Coop Supermarkt,1000.00,2600.000,1.00,3,3,80.571429,55.741810,0.298349,6981.361066,6981.361066
2,64542616,DEN,1109,3,SM_DEN_64420_26194,Denner Discount,374.00,374.000,1.00,3,3,22.440000,13.132362,0.070289,1644.757549,1644.757549
3,64542616,LAN,2309,5,SM_LAN_64135_26492,Landi,921.00,921.000,0.05,3,3,2.763000,0.901978,0.004828,112.967865,112.967865
4,64542616,LID,4226,5,SM_LID_64325_26299,Lidl Supermarkt,172.00,1000.000,0.80,3,3,48.000000,26.377962,0.141184,3303.697488,3303.697488
5,64542616,MAN,4268,19,SM_MAN_64587_24908,Manor,172.00,1000.000,0.05,3,3,3.000000,0.043065,0.000230,5.393619,5.393619
6,64542616,MIG,976,4,SM_MIG_64371_26208,M,1169.63,1999.995,1.00,3,3,73.333267,50.734225,0.271547,6354.188102,6354.188102
7,64542616,OTT,5140,3,SM_OTT_64420_26194,NaN,650.00,650.000,0.20,3,3,7.800000,4.125671,0.022082,516.718057,516.718057
8,64542616,PAM,5280,28,SM_PAM_67983_25067,NaN,172.00,172.000,1.00,3,3,10.320000,0.031816,0.000170,3.984728,3.984728
9,64542616,SPA,4372,16,SM_SPA_66420_25599,Spar Supermarkt,172.00,405.000,1.00,3,3,24.300000,1.494192,0.007997,187.139433,187.139433
10,64542616,VOL,4962,4,SM_VOL_64669_26132,Volg mit Postagentur,172.00,172.000,1.00,3,3,10.320000,4.518140,0.024183,565.872688,565.872688
11,64642615,ALD,2887,4,SM_ALD_64465_26140,Aldi Supermarkt,115.00,1000.000,0.80,3,3,48.000000,29.733172,0.172278,4031.303221,4031.303221
12,64642615,COO,3546,5,SM_COO_64373_26219,Coop Supermarkt,1000.00,2600.000,1.00,3,3,80.571429,50.837135,0.294557,6892.635177,6892.635177
13,64642615,DEN,1109,4,SM_DEN_64420_26194,Denner Discount,374.00,374.000,1.00,3,3,22.440000,10.984565,0.063646,1489.316773,1489.316773
14,64642615,LAN,2309,5,SM_LAN_64135_26492,Landi,921.00,921.000,0.05,3,3,2.763000,0.901978,0.005226,122.292582,122.292582
15,64642615,LID,4226,6,SM_LID_64325_26299,Lidl Supermarkt,172.00,1000.000,0.80,3,3,48.000000,23.401368,0.135591,3172.820227,3172.820227
16,64642615,MAN,4268,19,SM_MAN_64587_24908,Manor,172.00,1000.000,0.05,3,3,3.000000,0.043065,0.000250,5.838825,5.838825
17,64642615,MIG,976,5,SM_MIG_64371_26208,M,1169.63,1999.995,1.00,3,3,73.333267,46.270163,0.268095,6273.432933,6273.432933
18,64642615,OTT,5140,4,SM_OTT_64420_26194,NaN,650.00,650.000,0.20,3,3,7.800000,3.336527,0.019332,452.375245,452.375245
19,64642615,PAM,5280,28,SM_PAM_67983_25067,NaN,172.00,172.000,1.00,3,3,10.320000,0.031816,0.000184,4.313640,4.313640
20,64642615,SPA,4372,16,SM_SPA_66420_25599,Spar Supermarkt,172.00,405.000,1.00,3,3,24.300000,1.494192,0.008658,202.586500,202.586500
21,64642615,VOL,4962,3,SM_VOL_64669_26132,Volg mit Postagentur,172.00,172.000,1.00,3,3,10.320000,5.554433,0.032183,753.084875,753.084875
22,64682615,ALD,2887,4,SM_ALD_64465_26140,Aldi Supermarkt,115.00,1000.000,0.80,1,1,48.000000,29.733172,0.172207,1343.213328,1343.213328
23,64682615,COO,3546,5,SM_COO_64373_26219,Coop Supermarkt,1000.00,2600.000,1.00,1,1,80.571429,50.837135,0.294436,2296.597137,2296.597137
24,64682615,DEN,1109,5,SM_DEN_64420_26194,Denner Discount,374.00,374.000,1.00,1,1,22.440000,9.188039,0.053215,415.075030,415.075030
25,64682615,LAN,2309,7,SM_LAN_64135_26492,Landi,921.00,921.000,0.05,1,1,2.763000,0.576397,0.003338,26.039080,26.039080
26,64682615,LID,4226,6,SM_LID_64325_26299,Lidl Supermarkt,172.00,1000.000,0.80,1,1,48.000000,23.401368,0.135535,1057.170395,1057.170395
27,64682615,MAN,4268,20,SM_MAN_64587_24908,Manor,172.00,1000.000,0.05,1,1,3.000000,0.034445,0.000199,1.556055,1.556055
28,64682615,MIG,976,5,SM_MIG_64371_26208,M,1169.63,1999.995,1.00,1,1,73.333267,46.270163,0.267985,2090.281546,2090.281546
29,64682615,OTT,5140,5,SM_OTT_64420_26194,NaN,650.00,650.000,0.20,1,1,7.800000,2.698327,0.015628,121.898499,121.898499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564103,71042260,MIG,49,1,SM_MIG_71080_22596,VOI,220.00,220.000,1.00,18,18,13.200000,10.808712,0.055643,7812.321554,7812.321554
564104,71042260,MIG,574,6,SM_MIG_70732_22772,MM,952.01,2087.981,1.00,18,18,74.506413,42.873966,0.220715,30988.448764,30988.448764
564105,71042260,OTT,5287,3,SM_OTT_71214_22603,NaN,650.00,650.000,0.20,18,18,7.800000,4.125671,0.021239,2981.952917,2981.952917
564106,71042260,PAM,5193,19,SM_PAM_70731_23485,NaN,172.00,172.000,1.00,18,18,10.320000,0.204061,0.001051,147.491121,147.491121
564107,71042260,SPA,4498,4,SM_SPA_71047_22755,Spar Supermarkt,172.00,405.000,1.00,18,18,24.300000,12.100582,0.062294,8746.060009,8746.060009
564108,71042260,VOL,4807,9,SM_VOL_71388_22902,Volg,921.00,172.000,1.00,18,18,10.320000,1.609014,0.008283,1162.962943,1162.962943
564109,71042261,ALD,2964,3,SM_ALD_71171_22599,Aldi Supermarkt,115.00,1000.000,0.80,12,12,48.000000,33.515155,0.174328,16317.069366,16317.069366
564110,71042261,COO,3941,2,SM_COO_71092_22600,Coop Supermarkt,1000.00,1640.000,1.00,12,12,68.533333,57.003544,0.296502,27752.542603,27752.542603
564111,71042261,DEN,1184,2,SM_DEN_71091_22604,Denner Discount,374.00,374.000,1.00,12,12,22.440000,15.700116,0.081663,7643.702490,7643.702490
564112,71042261,LAN,2554,3,SM_LAN_71072_22677,Landi,115.00,921.000,0.05,12,12,2.763000,1.411464,0.007342,687.180469,687.180469
564113,71042261,LID,4169,10,SM_LID_70458_22785,Lidl Supermarkt,405.00,1000.000,0.80,12,12,48.000000,14.495768,0.075399,7057.358183,7057.358183
564114,71042261,MAN,4312,9,SM_MAN_70260_22866,Manor,172.00,1000.000,0.05,12,12,3.000000,0.401903,0.002090,195.669068,195.669068
564115,71042261,MIG,49,2,SM_MIG_71080_22596,VOI,220.00,220.000,1.00,12,12,13.200000,8.850625,0.046036,4308.983724,4308.983724
564116,71042261,MIG,574,6,SM_MIG_70732_22772,MM,952.01,2087.981,1.00,12,12,74.506413,42.873966,0.223007,20873.466527,20873.466527
564117,71042261,OTT,5287,3,SM_OTT_71214_22603,NaN,650.00,650.000,0.20,12,12,7.800000,4.125671,0.021460,2008.609559,2008.609559
564118,71042261,PAM,5193,20,SM_PAM_70731_23485,NaN,172.00,172.000,1.00,12,12,10.320000,0.165989,0.000863,80.812887,80.812887
564119,71042261,SPA,4498,4,SM_SPA_71047_22755,Spar Supermarkt,172.00,405.000,1.00,12,12,24.300000,12.100582,0.062941,5891.246517,5891.246517
564120,71042261,VOL,4807,9,SM_VOL_71388_22902,Volg,921.00,172.000,1.00,12,12,10.320000,1.609014,0.008369,783.358607,783.358607
564121,71052259,ALD,2964,3,SM_ALD_71171_22599,Aldi Supermarkt,115.00,1000.000,0.80,17,17,48.000000,33.515155,0.165277,21915.775629,21915.775629
564122,71052259,COO,3941,1,SM_COO_71092_22600,Coop Supermarkt,1000.00,1640.000,1.00,17,17,68.533333,62.503143,0.308229,40871.207035,40871.207035
564123,71052259,DEN,1184,1,SM_DEN_71091_22604,Denner Discount,374.00,374.000,1.00,17,17,22.440000,18.769939,0.092562,12273.783566,12273.783566
564124,71052259,LAN,2554,3,SM_LAN_71072_22677,Landi,115.00,921.000,0.05,17,17,2.763000,1.411464,0.006961,922.965554,922.965554
564125,71052259,LID,4169,10,SM_LID_70458_22785,Lidl Supermarkt,405.00,1000.000,0.80,17,17,48.000000,14.495768,0.071485,9478.876078,9478.876078
564126,71052259,MAN,4312,9,SM_MAN_70260_22866,Manor,172.00,1000.000,0.05,17,17,3.000000,0.401903,0.001982,262.806960,262.806960
564127,71052259,MIG,49,1,SM_MIG_71080_22596,VOI,220.00,220.000,1.00,17,17,13.200000,10.808712,0.053302,7067.886054,7067.886054
564128,71052259,MIG,574,6,SM_MIG_70732_22772,MM,952.01,2087.981,1.00,17,17,74.506413,42.873966,0.211430,28035.561947,28035.561947
564129,71052259,OTT,5287,3,SM_OTT_71214_22603,NaN,650.00,650.000,0.20,17,17,7.800000,4.125671,0.020345,2697.802861,2697.802861
564130,71052259,PAM,5193,20,SM_PAM_70731_23485,NaN,172.00,172.000,1.00,17,17,10.320000,0.165989,0.000819,108.541372,108.541372
564131,71052259,SPA,4498,4,SM_SPA_71047_22755,Spar Supermarkt,172.00,405.000,1.00,17,17,24.300000,12.100582,0.059673,7912.648647,7912.648647
564132,71052259,VOL,4807,9,SM_VOL_71388_22902,Volg,921.00,172.000,1.00,17,17,10.320000,1.609014,0.007935,1052.144297,1052.144297

In [26]:
enriched_pruned_pd

                                                                 ID  \
hektar_id type hektar_id type OBJECTID fahrzeit
64542616  ALD  64542616  ALD  2887     4         SM_ALD_64465_26140
          COO  64542616  COO  3546     4         SM_COO_64373_26219
          DEN  64542616  DEN  1109     3         SM_DEN_64420_26194
          LAN  64542616  LAN  2309     5         SM_LAN_64135_26492
          LID  64542616  LID  4226     5         SM_LID_64325_26299
          MAN  64542616  MAN  4268     19        SM_MAN_64587_24908
          MIG  64542616  MIG  976      4         SM_MIG_64371_26208
          OTT  64542616  OTT  5140     3         SM_OTT_64420_26194
          PAM  64542616  PAM  5280     28        SM_PAM_67983_25067
          SPA  64542616  SPA  4372     16        SM_SPA_66420_25599
          VOL  64542616  VOL  4962     4         SM_VOL_64669_26132
64642615  ALD  64642615  ALD  2887     4         SM_ALD_64465_26140
          COO  64642615  COO  3098     5         SM_COO_64354_26255
                              3546     5         SM_COO_64373_26219
                              3717     11        SM_COO_65856_25585
                              4075     14        SM_COO_65839_25847
                              3422     15        SM_COO_65808_25934
                              3861     16        SM_COO_62657_26692
                              3289     17        SM_COO_64677_24987
                              3749     18        SM_COO_66273_25232
                              3287     19        SM_COO_64585_24916
                              3637     19        SM_COO_62209_26531
                              3324     20        SM_COO_66546_25876
                              3482     21        SM_COO_67195_25238
                              3541     21        SM_COO_62131_26131
                              4092     21        SM_COO_66964_25516
                              3703     22        SM_COO_65532_24904
                              4067     22        SM_COO_66719_25682
                              3804     23        SM_COO_66430_26010
                              3329     24        SM_COO_61163_26581
...                                                             ...
71042261  MIG  71042261  MIG  442      13        SM_MIG_70464_23182
                              458      14        SM_MIG_71678_23176
                              457      15        SM_MIG_70592_23211
                              450      16        SM_MIG_69596_22915
                              462      18        SM_MIG_72275_22106
                              469      19        SM_MIG_69306_23163
                              693      19        SM_MIG_70675_23507
                              501      22        SM_MIG_68396_23949
                              628      22        SM_MIG_68767_23500
          OTT  71042261  OTT  5287     3         SM_OTT_71214_22603
          PAM  71042261  PAM  5193     20        SM_PAM_70731_23485
          SPA  71042261  SPA  4498     4         SM_SPA_71047_22755
          VOL  71042261  VOL  4807     9         SM_VOL_71388_22902
71052259  ALD  71052259  ALD  2964     3         SM_ALD_71171_22599
          COO  71052259  COO  3941     1         SM_COO_71092_22600
          DEN  71052259  DEN  1184     1         SM_DEN_71091_22604
          LAN  71052259  LAN  2554     3         SM_LAN_71072_22677
          LID  71052259  LID  4169     10        SM_LID_70458_22785
          MAN  71052259  MAN  4312     9         SM_MAN_70260_22866
          MIG  71052259  MIG  49       1         SM_MIG_71080_22596
                              574      6         SM_MIG_70732_22772
                              442      13        SM_MIG_70464_23182
                              458      15        SM_MIG_71678_23176
                              450      16        SM_MIG_69596_22915
                              469      19        SM_MIG_69306_23163
                              693      19        SM_MIG_70675_23507
          OTT  71052259  OTT  5287     3         SM_OTT_71214_22603
          PAM  71052259  PAM  5193     20        SM_PAM_70731_23485
          SPA  71052259  SPA  4498     4         SM_SPA_71047_22755
          VOL  71052259  VOL  4807     9         SM_VOL_71388_22902

                                                               FORMAT  \
hektar_id type hektar_id type OBJECTID fahrzeit
64542616  ALD  64542616  ALD  2887     4              Aldi Supermarkt
          COO  64542616  COO  3546     4              Coop Supermarkt
          DEN  64542616  DEN  1109     3              Denner Discount
          LAN  64542616  LAN  2309     5                        Landi
          LID  64542616  LID  4226     5              Lidl Supermarkt
          MAN  64542616  MAN  4268     19                       Manor
          MIG  64542616  MIG  976      4                            M
          OTT  64542616  OTT  5140     3                          NaN
          PAM  64542616  PAM  5280     28                         NaN
          SPA  64542616  SPA  4372     16             Spar Supermarkt
          VOL  64542616  VOL  4962     4         Volg mit Postagentur
64642615  ALD  64642615  ALD  2887     4              Aldi Supermarkt
          COO  64642615  COO  3098     5                  Coop Pronto
                              3546     5              Coop Supermarkt
                              3717     11             Coop Supermarkt
                              4075     14             Coop Supermarkt
                              3422     15             Coop Supermarkt
                              3861     16             Coop Supermarkt
                              3289     17             Coop Supermarkt
                              3749     18             Coop Supermarkt
                              3287     19             Coop Supermarkt
                              3637     19             Coop Supermarkt
                              3324     20             Coop Supermarkt
                              3482     21             Coop Supermarkt
                              3541     21             Coop Supermarkt
                              4092     21             Coop Supermarkt
                              3703     22             Coop Supermarkt
                              4067     22             Coop Supermarkt
                              3804     23             Coop Supermarkt
                              3329     24             Coop Supermarkt
...                                                               ...
71042261  MIG  71042261  MIG  442      13                          MM
                              458      14                          MM
                              457      15                           M
                              450      16                           M
                              462      18                           M
                              469      19                         MMM
                              693      19                          MM
                              501      22                           M
                              628      22                          MM
          OTT  71042261  OTT  5287     3                          NaN
          PAM  71042261  PAM  5193     20                         NaN
          SPA  71042261  SPA  4498     4              Spar Supermarkt
          VOL  71042261  VOL  4807     9                         Volg
71052259  ALD  71052259  ALD  2964     3              Aldi Supermarkt
          COO  71052259  COO  3941     1              Coop Supermarkt
          DEN  71052259  DEN  1184     1              Denner Discount
          LAN  71052259  LAN  2554     3                        Landi
          LID  71052259  LID  4169     10             Lidl Supermarkt
          MAN  71052259  MAN  4312     9                        Manor
          MIG  71052259  MIG  49       1                          VOI
                              574      6                           MM
                              442      13                          MM
                              458      15                          MM
                              450      16                           M
                              469      19                         MMM
                              693      19                          MM
          OTT  71052259  OTT  5287     3                          NaN
          PAM  71052259  PAM  5193     20                         NaN
          SPA  71052259  SPA  4498     4              Spar Supermarkt
          VOL  71052259  VOL  4807     9                         Volg

                                                 VERKAUFSFLAECHE  \
hektar_id type hektar_id type OBJECTID fahrzeit
64542616  ALD  64542616  ALD  2887     4                  115.00
          COO  64542616  COO  3546     4                 1000.00
          DEN  64542616  DEN  1109     3                  374.00
          LAN  64542616  LAN  2309     5                  921.00
          LID  64542616  LID  4226     5                  172.00
          MAN  64542616  MAN  4268     19                 172.00
          MIG  64542616  MIG  976      4                 1169.63
          OTT  64542616  OTT  5140     3                  650.00
          PAM  64542616  PAM  5280     28                 172.00
          SPA  64542616  SPA  4372     16                 172.00
          VOL  64542616  VOL  4962     4                  172.00
64642615  ALD  64642615  ALD  2887     4                  115.00
          COO  64642615  COO  3098     5                  800.00
                              3546     5                 1000.00
                              3717     11                 600.00
                              4075     14                 405.00
                              3422     15                1800.00
                              3861     16                 450.00
                              3289     17                2600.00
                              3749     18                 600.00
                              3287     19                2600.00
                              3637     19                1640.00
                              3324     20                 450.00
                              3482     21                 450.00
                              3541     21                1640.00
                              4092     21                 405.00
                              3703     22                 600.00
                              4067     22                 405.00
                              3804     23                 600.00
                              3329     24                 800.00
...                                                          ...
71042261  MIG  71042261  MIG  442      13                1191.94
                              458      14                 896.37
                              457      15                 485.24
                              450      16                 535.82
                              462      18                 537.99
                              469      19                1341.65
                              693      19                1407.56
                              501      22                 894.62
                              628      22                 904.06
          OTT  71042261  OTT  5287     3                  650.00
          PAM  71042261  PAM  5193     20                 172.00
          SPA  71042261  SPA  4498     4                  172.00
          VOL  71042261  VOL  4807     9                  921.00
71052259  ALD  71052259  ALD  2964     3                  115.00
          COO  71052259  COO  3941     1                 1000.00
          DEN  71052259  DEN  1184     1                  374.00
          LAN  71052259  LAN  2554     3                  115.00
          LID  71052259  LID  4169     10                 405.00
          MAN  71052259  MAN  4312     9                  172.00
          MIG  71052259  MIG  49       1                  220.00
                              574      6                  952.01
                              442      13                1191.94
                              458      15                 896.37
                              450      16                 535.82
                              469      19                1341.65
                              693      19                1407.56
          OTT  71052259  OTT  5287     3                  650.00
          PAM  71052259  PAM  5193     20                 172.00
          SPA  71052259  SPA  4498     4                  172.00
          VOL  71052259  VOL  4807     9                  921.00

                                                 VERKAUFSFLAECHE_TOTAL  \
hektar_id type hektar_id type OBJECTID fahrzeit
64542616  ALD  64542616  ALD  2887     4                      1000.000
          COO  64542616  COO  3546     4                      2600.000
          DEN  64542616  DEN  1109     3                       374.000
          LAN  64542616  LAN  2309     5                       921.000
          LID  64542616  LID  4226     5                      1000.000
          MAN  64542616  MAN  4268     19                     1000.000
          MIG  64542616  MIG  976      4                      1999.995
          OTT  64542616  OTT  5140     3                       650.000
          PAM  64542616  PAM  5280     28                      172.000
          SPA  64542616  SPA  4372     16                      405.000
          VOL  64542616  VOL  4962     4                       172.000
64642615  ALD  64642615  ALD  2887     4                      1000.000
          COO  64642615  COO  3098     5                       115.000
                              3546     5                      2600.000
                              3717     11                     1800.000
                              4075     14                      600.000
                              3422     15                      800.000
                              3861     16                     1160.000
                              3289     17                     2600.000
                              3749     18                     1480.000
                              3287     19                      900.000
                              3637     19                     5070.000
                              3324     20                     2600.000
                              3482     21                     5070.000
                              3541     21                     2600.000
                              4092     21                      900.000
                              3703     22                     2600.000
                              4067     22                     5070.000
                              3804     23                     1640.000
                              3329     24                     2600.000
...                                                                ...
71042261  MIG  71042261  MIG  442      13                     3024.404
                              458      14                     2190.305
                              457      15                      858.962
                              450      16                      933.502
                              462      18                     1068.972
                              469      19                     3467.533
                              693      19                     3563.386
                              501      22                     2023.203
                              628      22                     1986.842
          OTT  71042261  OTT  5287     3                       650.000
          PAM  71042261  PAM  5193     20                      172.000
          SPA  71042261  SPA  4498     4                       405.000
          VOL  71042261  VOL  4807     9                       172.000
71052259  ALD  71052259  ALD  2964     3                      1000.000
          COO  71052259  COO  3941     1                      1640.000
          DEN  71052259  DEN  1184     1                       374.000
          LAN  71052259  LAN  2554     3                       921.000
          LID  71052259  LID  4169     10                     1000.000
          MAN  71052259  MAN  4312     9                      1000.000
          MIG  71052259  MIG  49       1                       220.000
                              574      6                      2087.981
                              442      13                     3024.404
                              458      15                     2190.305
                              450      16                      933.502
                              469      19                     3467.533
                              693      19                     3563.386
          OTT  71052259  OTT  5287     3                       650.000
          PAM  71052259  PAM  5193     20                      172.000
          SPA  71052259  SPA  4498     4                       405.000
          VOL  71052259  VOL  4807     9                       172.000

                                                 RELEVANZ  H14PTOT  \
hektar_id type hektar_id type OBJECTID fahrzeit
64542616  ALD  64542616  ALD  2887     4             0.80        3
          COO  64542616  COO  3546     4             1.00        3
          DEN  64542616  DEN  1109     3             1.00        3
          LAN  64542616  LAN  2309     5             0.05        3
          LID  64542616  LID  4226     5             0.80        3
          MAN  64542616  MAN  4268     19            0.05        3
          MIG  64542616  MIG  976      4             1.00        3
          OTT  64542616  OTT  5140     3             0.20        3
          PAM  64542616  PAM  5280     28            1.00        3
          SPA  64542616  SPA  4372     16            1.00        3
          VOL  64542616  VOL  4962     4             1.00        3
64642615  ALD  64642615  ALD  2887     4             0.80        3
          COO  64642615  COO  3098     5             1.00        3
                              3546     5             1.00        3
                              3717     11            1.00        3
                              4075     14            1.00        3
                              3422     15            1.00        3
                              3861     16            1.00        3
                              3289     17            1.00        3
                              3749     18            1.00        3
                              3287     19            1.00        3
                              3637     19            1.00        3
                              3324     20            1.00        3
                              3482     21            1.00        3
                              3541     21            1.00        3
                              4092     21            1.00        3
                              3703     22            1.00        3
                              4067     22            1.00        3
                              3804     23            1.00        3
                              3329     24            1.00        3
...                                                   ...      ...
71042261  MIG  71042261  MIG  442      13            1.00       12
                              458      14            1.00       12
                              457      15            1.00       12
                              450      16            1.00       12
                              462      18            1.00       12
                              469      19            1.00       12
                              693      19            1.00       12
                              501      22            1.00       12
                              628      22            1.00       12

In [127]:
enriched_pruned_pd = pd.read_pickle('/userdata/pmavrodi/Projekte/Stao/output/enriched_pd.pkl')

In [14]:
data2 = [{'RLAT': 1, 'b': 2}, {'RLAT': 15, 'b': 10},  {'RLAT': 5, 'b': 10}]
df = pd.DataFrame(data2)
df

   RLAT   b
0     1   2
1    15  10
2     5  10

In [129]:
enriched_pruned_pd.head(50)

,hektar_id,type,OBJECTID,fahrzeit,ID,FORMAT,VERKAUFSFLAECHE,VERKAUFSFLAECHE_TOTAL,RELEVANZ,H14PTOT,H14PTOT_corrected,LAT,RLAT,Marktanteil,LokalUP,LokalUP_corrected
0,64542616,ALD,2887,4,SM_ALD_64465_26140,Aldi Supermarkt,115.00,1000.000,0.80,3,3,48.000000,29.733172,0.159142,3723.919404,3723.919404
1,64542616,COO,3546,4,SM_COO_64373_26219,Coop Supermarkt,1000.00,2600.000,1.00,3,3,80.571429,55.741810,0.298349,6981.361066,6981.361066
2,64542616,DEN,1109,3,SM_DEN_64420_26194,Denner Discount,374.00,374.000,1.00,3,3,22.440000,13.132362,0.070289,1644.757549,1644.757549
3,64542616,LAN,2309,5,SM_LAN_64135_26492,Landi,921.00,921.000,0.05,3,3,2.763000,0.901978,0.004828,112.967865,112.967865
4,64542616,LID,4226,5,SM_LID_64325_26299,Lidl Supermarkt,172.00,1000.000,0.80,3,3,48.000000,26.377962,0.141184,3303.697488,3303.697488
5,64542616,MAN,4268,19,SM_MAN_64587_24908,Manor,172.00,1000.000,0.05,3,3,3.000000,0.043065,0.000230,5.393619,5.393619
6,64542616,MIG,976,4,SM_MIG_64371_26208,M,1169.63,1999.995,1.00,3,3,73.333267,50.734225,0.271547,6354.188102,6354.188102
7,64542616,OTT,5140,3,SM_OTT_64420_26194,NaN,650.00,650.000,0.20,3,3,7.800000,4.125671,0.022082,516.718057,516.718057
8,64542616,PAM,5280,28,SM_PAM_67983_25067,NaN,172.00,172.000,1.00,3,3,10.320000,0.031816,0.000170,3.984728,3.984728
9,64542616,SPA,4372,16,SM_SPA_66420_25599,Spar Supermarkt,172.00,405.000,1.00,3,3,24.300000,1.494192,0.007997,187.139433,187.139433
10,64542616,VOL,4962,4,SM_VOL_64669_26132,Volg mit Postagentur,172.00,172.000,1.00,3,3,10.320000,4.518140,0.024183,565.872688,565.872688
11,64642615,ALD,2887,4,SM_ALD_64465_26140,Aldi Supermarkt,115.00,1000.000,0.80,3,3,48.000000,29.733172,0.172278,4031.303221,4031.303221
12,64642615,COO,3546,5,SM_COO_64373_26219,Coop Supermarkt,1000.00,2600.000,1.00,3,3,80.571429,50.837135,0.294557,6892.635177,6892.635177
13,64642615,DEN,1109,4,SM_DEN_64420_26194,Denner Discount,374.00,374.000,1.00,3,3,22.440000,10.984565,0.063646,1489.316773,1489.316773
14,64642615,LAN,2309,5,SM_LAN_64135_26492,Landi,921.00,921.000,0.05,3,3,2.763000,0.901978,0.005226,122.292582,122.292582
15,64642615,LID,4226,6,SM_LID_64325_26299,Lidl Supermarkt,172.00,1000.000,0.80,3,3,48.000000,23.401368,0.135591,3172.820227,3172.820227
16,64642615,MAN,4268,19,SM_MAN_64587_24908,Manor,172.00,1000.000,0.05,3,3,3.000000,0.043065,0.000250,5.838825,5.838825
17,64642615,MIG,976,5,SM_MIG_64371_26208,M,1169.63,1999.995,1.00,3,3,73.333267,46.270163,0.268095,6273.432933,6273.432933
18,64642615,OTT,5140,4,SM_OTT_64420_26194,NaN,650.00,650.000,0.20,3,3,7.800000,3.336527,0.019332,452.375245,452.375245
19,64642615,PAM,5280,28,SM_PAM_67983_25067,NaN,172.00,172.000,1.00,3,3,10.320000,0.031816,0.000184,4.313640,4.313640
20,64642615,SPA,4372,16,SM_SPA_66420_25599,Spar Supermarkt,172.00,405.000,1.00,3,3,24.300000,1.494192,0.008658,202.586500,202.586500
21,64642615,VOL,4962,3,SM_VOL_64669_26132,Volg mit Postagentur,172.00,172.000,1.00,3,3,10.320000,5.554433,0.032183,753.084875,753.084875
22,64682615,ALD,2887,4,SM_ALD_64465_26140,Aldi Supermarkt,115.00,1000.000,0.80,1,1,48.000000,29.733172,0.172207,1343.213328,1343.213328
23,64682615,COO,3546,5,SM_COO_64373_26219,Coop Supermarkt,1000.00,2600.000,1.00,1,1,80.571429,50.837135,0.294436,2296.597137,2296.597137
24,64682615,DEN,1109,5,SM_DEN_64420_26194,Denner Discount,374.00,374.000,1.00,1,1,22.440000,9.188039,0.053215,415.075030,415.075030
25,64682615,LAN,2309,7,SM_LAN_64135_26492,Landi,921.00,921.000,0.05,1,1,2.763000,0.576397,0.003338,26.039080,26.039080
26,64682615,LID,4226,6,SM_LID_64325_26299,Lidl Supermarkt,172.00,1000.000,0.80,1,1,48.000000,23.401368,0.135535,1057.170395,1057.170395
27,64682615,MAN,4268,20,SM_MAN_64587_24908,Manor,172.00,1000.000,0.05,1,1,3.000000,0.034445,0.000199,1.556055,1.556055
28,64682615,MIG,976,5,SM_MIG_64371_26208,M,1169.63,1999.995,1.00,1,1,73.333267,46.270163,0.267985,2090.281546,2090.281546
29,64682615,OTT,5140,5,SM_OTT_64420_26194,NaN,650.00,650.000,0.20,1,1,7.800000,2.698327,0.015628,121.898499,121.898499
30,64682615,PAM,5280,28,SM_PAM_67983_25067,NaN,172.00,172.000,1.00,1,1,10.320000,0.031816,0.000184,1.437287,1.437287
31,64682615,SPA,4372,16,SM_SPA_66420_25599,Spar Supermarkt,172.00,405.000,1.00,1,1,24.300000,1.494192,0.008654,67.500972,67.500972
32,64682615,VOL,4962,1,SM_VOL_64669_26132,Volg mit Postagentur,172.00,172.000,1.00,1,1,10.320000,8.394594,0.048619,379.230669,379.230669
33,64692615,ALD,2887,4,SM_ALD_64465_26140,Aldi Supermarkt,115.00,1000.000,0.80,8,8,48.000000,29.733172,0.173783,10844.072371,10844.072371
34,64692615,COO,3546,5,SM_COO_64373_26219,Coop Supermarkt,1000.00,2600.000,1.00,8,8,80.571429,50.837135,0.297131,18540.960723,18540.960723
35,64692615,DEN,1109,5,SM_DEN_64420_26194,Denner Discount,374.00,374.000,1.00,8,8,22.440000,9.188039,0.053702,3350.996873,3350.996873
36,64692615,LAN,2309,7,SM_LAN_64135_26492,Landi,921.00,921.000,0.05,8,8,2.763000,0.576397,0.003369,210.219527,210.219527
37,64692615,LID,4226,6,SM_LID_64325_26299,Lidl Supermarkt,172.00,1000.000,0.80,8,8,48.000000,23.401368,0.136775,8534.781503,8534.781503
38,64692615,MAN,4268,20,SM_MAN_64587_24908,Manor,172.00,1000.000,0.05,8,8,3.000000,0.034445,0.000201,12.562394,12.562394
39,64692615,MIG,976,5,SM_MIG_64371_26208,M,1169.63,1999.995,1.00,8,8,73.333267,46.270163,0.270438,16875.327161,16875.327161
40,64692615,OTT,5140,5,SM_OTT_64420_26194,NaN,650.00,650.000,0.20,8,8,7.800000,2.698327,0.015771,984.114821,984.114821
41,64692615,PAM,5280,28,SM_PAM_67983_25067,NaN,172.00,172.000,1.00,8,8,10.320000,0.031816,0.000186,11.603550,11.603550
42,64692615,SPA,4372,16,SM_SPA_66420_25599,Spar Supermarkt,172.00,405.000,1.00,8,8,24.300000,1.494192,0.008733,544.950987,544.950987
43,64692615,VOL,4962,2,SM_VOL_64669_26132,Volg mit Postagentur,172.00,172.000,1.00,8,8,10.320000,6.828412,0.039910,2490.410090,2490.410090
44,64702615,ALD,2887,4,SM_ALD_64465_26140,Aldi Supermarkt,115.00,1000.000,0.80,2,2,48.000000,29.733172,0.176758,2757.429031,2757.429031
45,64702615,COO,3546,5,SM_COO_64373_26219,Coop Supermarkt,1000.00,2600.000,1.00,2,2,80.571429,50.837135,0.302217,4714.592600,4714.592600
46,64702615,DEN,1109,5,SM_DEN_64420_26194,Denner Discount,374.00,374.000,1.00,2,2,22.440000,9.188039,0.054621,852.090962,852.090962
47,64702615,LAN,2309,7,SM_LAN_64135_26492,Landi,921.00,921.000,0.05,2,2,2.763000,0.576397,0.003427,53.454589,53.454589
48,64702615,LID,4226,7,SM_LID_64325_26299,Lidl Supermarkt,172.00,1000.000,0.80,2,2,48.000000,20.760664,0.123418,1925.326301,1925.326301
49,64702615,MAN,4268,20,SM_MAN_64587_24908,Manor,172.00,1000.000,0.05,2,2,3.000000,0.034445,0.000205,3.194364,3.194364

# Testing core algo

In [30]:
stores_migros_pd.head()

,ID,RETAILER,FORMAT,STRASSE,PLZ,ORT,VERKAUFSFLAECHE_TOTAL,VERKAUFSFLAECHE,Y,X,RELEVANZ,PROFIT_KST,UMSATZ_FOOD,UMSATZ_FRISCHE,UMSATZ_NEAR_NONFOOD,UMSATZ_FACHMARKT,own_hektar_id
OBJECTID,,,,,,,,,,,,,,,,,
6,SM_MIG_61607_15939,Migros,M,Kanderstegstrasse 31,3714,Frutigen,878.621,519.42,616073.9153,159391.5490,1.0,33370.0,2714265.89,5007897.01,1647566.21,149192.23,61601593
8,SM_MIG_66835_23607,Migros,MM,Kirchfeldstrasse 8,5630,Muri AG,1787.864,1001.19,668350.1017,236074.5430,1.0,33934.0,4973971.80,10746847.03,3218149.87,476688.61,66832360
9,SM_MIG_55810_14347,Migros,M,Rue du Léman 9,1815,Clarens,1026.810,622.98,558105.4795,143471.3736,1.0,63991.0,4432271.32,10699936.16,2424134.69,233238.81,55811434
11,SM_MIG_49525_11909,Migros,M,Route de Peney 2-4,1214,Vernier,1257.324,649.41,495252.6938,119091.9983,1.0,44860.0,3537224.77,7729667.80,1861354.71,233174.78,49521190
13,SM_MIG_63399_12693,Migros,MM,Brückenweg 10,3930,Visp,2230.170,1101.84,633999.7599,126933.4256,1.0,134480.0,6229558.90,11250268.13,5737413.46,781103.84,63391269

In [4]:
(stores_pd, stores_migros_pd, drivetimes_pd, haushalt_pd) = get_input(settingsFile, logger)
relevant_hektars = set(drivetimes_pd.loc[stores_migros_pd.ID]['hektar_id'])
drivetimes_rel_hektars_pd = drivetimes_pd[drivetimes_pd['hektar_id'].isin(relevant_hektars)]

In [5]:
drivetimes_pd.head()

                    fahrzeit  hektar_id
filiale_id
SM_MIG_61607_15939        21   61341718
SM_MIG_61607_15939        21   61341719
SM_MIG_61607_15939        21   61341722
SM_MIG_61607_15939        22   61341730
SM_MIG_61607_15939        23   61341731

In [6]:
stores_pd.head()

,ID,RETAILER,FORMAT,STRASSE,PLZ,ORT,VERKAUFSFLAECHE_TOTAL,VERKAUFSFLAECHE,Y,X,RELEVANZ,PROFIT_KST,UMSATZ_FOOD,UMSATZ_FRISCHE,UMSATZ_NEAR_NONFOOD,UMSATZ_FACHMARKT,own_hektar_id
OBJECTID,,,,,,,,,,,,,,,,,
6,SM_MIG_61607_15939,Migros,M,Kanderstegstrasse 31,3714,Frutigen,878.621,519.420,616073.9153,159391.5490,1.0,33370.0,2714265.89,5007897.01,1647566.21,149192.23,61601593
8,SM_MIG_66835_23607,Migros,MM,Kirchfeldstrasse 8,5630,Muri AG,1787.864,1001.190,668350.1017,236074.5430,1.0,33934.0,4973971.80,10746847.03,3218149.87,476688.61,66832360
9,SM_MIG_55810_14347,Migros,M,Rue du Léman 9,1815,Clarens,1026.810,622.980,558105.4795,143471.3736,1.0,63991.0,4432271.32,10699936.16,2424134.69,233238.81,55811434
10,SM_MIG_49997_11718,Migros,SPEZ,Rue du Conseil-Général 20,1205,Genève,157.476,157.476,499972.6443,117183.8769,1.0,NaN,NaN,NaN,NaN,NaN,49991171
11,SM_MIG_49525_11909,Migros,M,Route de Peney 2-4,1214,Vernier,1257.324,649.410,495252.6938,119091.9983,1.0,44860.0,3537224.77,7729667.80,1861354.71,233174.78,49521190

In [5]:
drivetimes_rel_hektars_pd.head()

                    fahrzeit  hektar_id
filiale_id
SM_MIG_61607_15939        21   61341718
SM_MIG_61607_15939        21   61341719
SM_MIG_61607_15939        21   61341722
SM_MIG_61607_15939        22   61341730
SM_MIG_61607_15939        23   61341731

In [7]:
drivetimes_rel_hektars_stores_pd = drivetimes_rel_hektars_pd.merge(
        stores_pd[['ID','FORMAT', 'VERKAUFSFLAECHE', 'VERKAUFSFLAECHE_TOTAL', 'RELEVANZ']], left_index=True,
    right_on='ID', how='inner')

In [10]:
len(drivetimes_rel_hektars_pd)

110246169

In [11]:
len(drivetimes_rel_hektars_stores_pd)

109974613

In [12]:
drivetimes_rel_hektars_stores_pd.head()

,fahrzeit,hektar_id,ID,FORMAT,VERKAUFSFLAECHE,VERKAUFSFLAECHE_TOTAL,RELEVANZ
OBJECTID,,,,,,,
6,21,61341718,SM_MIG_61607_15939,M,519.42,878.621,1.0
6,21,61341719,SM_MIG_61607_15939,M,519.42,878.621,1.0
6,21,61341722,SM_MIG_61607_15939,M,519.42,878.621,1.0
6,22,61341730,SM_MIG_61607_15939,M,519.42,878.621,1.0
6,23,61341731,SM_MIG_61607_15939,M,519.42,878.621,1.0

In [13]:
enriched_pd = drivetimes_rel_hektars_stores_pd.merge(haushalt_pd[['H14PTOT']], left_on='hektar_id', right_index=True)

In [14]:
enriched_pd['H14PTOT_corrected'] = enriched_pd['H14PTOT'].fillna(1)

In [16]:
enriched_pd.head()

,fahrzeit,hektar_id,ID,FORMAT,VERKAUFSFLAECHE,VERKAUFSFLAECHE_TOTAL,RELEVANZ,H14PTOT,H14PTOT_corrected
OBJECTID,,,,,,,,,
6,21,61341718,SM_MIG_61607_15939,M,519.42,878.621,1.0,1,1
20,28,61341718,SM_MIG_60500_19797,M,755.95,1300.694,1.0,1,1
530,12,61341718,SM_MIG_61274_17700,FM,820.12,1330.134,1.0,1,1
836,25,61341718,SM_MIG_60926_19134,MM,850.50,1879.651,1.0,1,1
949,29,61341718,SM_MIG_60277_19842,M,334.03,494.532,1.0,1,1

In [18]:
migros_only_pd = enriched_pd[enriched_pd['FORMAT'].isin(list(set(stores_migros_pd['FORMAT'])))]

In [23]:
migros_only_pd.groupby('ID').agg( lambda x: len(x))

,fahrzeit,hektar_id,FORMAT,VERKAUFSFLAECHE,VERKAUFSFLAECHE_TOTAL,RELEVANZ,H14PTOT,H14PTOT_corrected
ID,,,,,,,,
SM_MIG_48928_12169,8858,8858,8858,8858.0,8858.0,8858.0,8858,8858
SM_MIG_49525_11909,11407,11407,11407,11407.0,11407.0,11407.0,11407,11407
SM_MIG_49539_12095,11333,11333,11333,11333.0,11333.0,11333.0,11333,11333
SM_MIG_49640_11777,11323,11323,11323,11323.0,11323.0,11323.0,11323,11323
SM_MIG_49743_11609,10982,10982,10982,10982.0,10982.0,10982.0,10982,10982
SM_MIG_49752_12087,12168,12168,12168,12168.0,12168.0,12168.0,12168,12168
SM_MIG_49768_11948,11684,11684,11684,11684.0,11684.0,11684.0,11684,11684
SM_MIG_49781_11376,10585,10585,10585,10585.0,10585.0,10585.0,10585,10585
SM_MIG_49823_12053,11698,11698,11698,11698.0,11698.0,11698.0,11698,11698
SM_MIG_49835_11457,10721,10721,10721,10721.0,10721.0,10721.0,10721,10721
SM_MIG_49847_11827,11240,11240,11240,11240.0,11240.0,11240.0,11240,11240
SM_MIG_49871_12006,11666,11666,11666,11666.0,11666.0,11666.0,11666,11666
SM_MIG_49898_11883,11271,11271,11271,11271.0,11271.0,11271.0,11271,11271
SM_MIG_49903_11743,10759,10759,10759,10759.0,10759.0,10759.0,10759,10759
SM_MIG_49920_11543,10086,10086,10086,10086.0,10086.0,10086.0,10086,10086
SM_MIG_49956_11638,10356,10356,10356,10356.0,10356.0,10356.0,10356,10356
SM_MIG_49972_11914,11536,11536,11536,11536.0,11536.0,11536.0,11536,11536
SM_MIG_49974_11746,10879,10879,10879,10879.0,10879.0,10879.0,10879,10879
SM_MIG_49978_11549,10021,10021,10021,10021.0,10021.0,10021.0,10021,10021
SM_MIG_49995_11842,11262,11262,11262,11262.0,11262.0,11262.0,11262,11262
SM_MIG_50001_11656,10485,10485,10485,10485.0,10485.0,10485.0,10485,10485
SM_MIG_50016_11859,11401,11401,11401,11401.0,11401.0,11401.0,11401,11401
SM_MIG_50024_11776,11063,11063,11063,11063.0,11063.0,11063.0,11063,11063
SM_MIG_50053_11872,11595,11595,11595,11595.0,11595.0,11595.0,11595,11595
SM_MIG_50070_11629,10557,10557,10557,10557.0,10557.0,10557.0,10557,10557
SM_MIG_50119_11775,11024,11024,11024,11024.0,11024.0,11024.0,11024,11024
SM_MIG_50121_11739,10932,10932,10932,10932.0,10932.0,10932.0,10932,10932
SM_MIG_50159_11640,10556,10556,10556,10556.0,10556.0,10556.0,10556,10556
SM_MIG_50201_12557,11603,11603,11603,11603.0,11603.0,11603.0,11603,11603
SM_MIG_50394_11685,9976,9976,9976,9976.0,9976.0,9976.0,9976,9976
...,...,...,...,...,...,...,...,...
SM_MIG_74691_25565,25912,25912,25912,25912.0,25912.0,25912.0,25912,25912
SM_MIG_74705_25842,21429,21429,21429,21429.0,21429.0,21429.0,21429,21429
SM_MIG_74731_25572,25689,25689,25689,25689.0,25689.0,25689.0,25689,25689
SM_MIG_74738_25071,18088,18088,18088,18088.0,18088.0,18088.0,18088,18088
SM_MIG_74758_25521,25887,25887,25887,25887.0,25887.0,25887.0,25887,25887
SM_MIG_74832_25590,25111,25111,25111,25111.0,25111.0,25111.0,25111,25111
SM_MIG_74876_24452,13167,13167,13167,13167.0,13167.0,13167.0,13167,13167
SM_MIG_75016_26426,19090,19090,19090,19090.0,19090.0,19090.0,19090,19090
SM_MIG_75141_21202,10056,10056,10056,10056.0,10056.0,10056.0,10056,10056
SM_MIG_75294_26020,21498,21498,21498,21498.0,21498.0,21498.0,21498,21498
SM_MIG_75305_17342,4471,4471,4471,4471.0,4471.0,4471.0,4471,4471
SM_MIG_75421_22567,9840,9840,9840,9840.0,9840.0,9840.0,9840,9840
SM_MIG_75453_26058,19285,19285,19285,19285.0,19285.0,19285.0,19285,19285
SM_MIG_75459_18933,6890,6890,6890,6890.0,6890.0,6890.0,6890,6890
SM_MIG_75500_26017,18239,18239,18239,18239.0,18239.0,18239.0,18239,18239
SM_MIG_75655_22631,10102,10102,10102,10102.0,10102.0,10102.0,10102,10102
SM_MIG_75816_19040,7705,7705,7705,7705.0,7705.0,7705.0,7705,7705
SM_MIG_75820_25635,13542,13542,13542,13542.0,13542.0,13542.0,13542,13542
SM_MIG_75850_24949,13108,13108,13108,13108.0,13108.0,13108.0,13108,13108
SM_MIG_75875_19173,7145,7145,7145,7145.0,7145.0,7145.0,7145,7145
SM_MIG_75933_19109,7196,7196,7196,7196.0,7196.0,7196.0,7196,7196
SM_MIG_75971_19323,8012,8012,8012,8012.0,8012.0,8012.0,8012,8012
SM_MIG_76063_24272,13979,13979,13979,13979.0,13979.0,13979.0,13979,13979
SM_MIG_76156_20404,8994,8994,8994,8994.0,8994.0,8994.0,8994,8994
SM_MIG_76207_25973,17019,17019,17019,17019.0,17019.0,17019.0,17019,17019
SM_MIG_76546_25297,13738,13738,13738,13738.0,13738.0,13738.0,13738,13738
SM_MIG_76686_25783,16491,16491,16491,16491.0,16491.0,16491.0,16491,16491
SM_MIG_78188_18524,1313,1313,1313,1313.0,1313.0,1313.0,1313,1313
SM_MIG_78272_18616,1383,1383,1383,1383.0,1383.0,1383.0,1383,1383
SM_MIG_78313_18681,1460,1460,1460,1460.0,1460.0,1460.0,1460,1460

In [ ]:
drivetimes_pd = pd.read_csv(drivetimes, sep=',', header=None, names=['filiale_id', 'fahrzeit', 'hektar_id'],
                                    index_col=0, nrows=110299436)

In [ ]:
stores_pd[stores_pd['FORMAT'].isin(['M', 'MM', 'MMM', 'FM'])]

# Einige Daten issues

In [ ]:
# get the input
(stores_pd, stores_migros_pd, drivetimes_pd, drivetimes_migros_pd, haushalt_pd) = get_input(settingsFile, logger)

In [ ]:
drivetimes_pd.head(3)

In [ ]:
print('Number of entries in drivetimes %d: ' % len(drivetimes_pd))

# Duplikate in drivetimes

In [ ]:
drivetimes_pd2 = drivetimes_pd.reset_index()
drivetimes_pd2 = drivetimes_pd2.set_index(['filiale_id', 'fahrzeit', 'hektar_id'])

In [ ]:
drivetimes_pd2.head(3)

In [ ]:
drivetimes_duplicates = drivetimes_pd2[ drivetimes_pd2.index.duplicated()]

In [ ]:
print('Number of duplicates: %d' % len(drivetimes_duplicates))

In [ ]:
drivetimes_duplicates.head(10)

In [ ]:
a=drivetimes_pd.loc['SM_MIG_68294_26394']
a[ (a['fahrzeit']==11) & (a['hektar_id']==67672614) ]

In [ ]:
drivetimes_duplicates.to_csv('/userdata/pmavrodi/Projekte/Stao/output/drivetimes_duplicates.csv')

# Duplikate in drivetimes_migros_pd

In [ ]:
drivetimes_pd3 = drivetimes_migros_pd.reset_index()
drivetimes_pd3 = drivetimes_pd3.set_index(['filiale_id', 'fahrzeit', 'hektar_id'])

In [ ]:
drivetimes_pd3.head(4)

In [ ]:
drivetimes_duplicates2 = drivetimes_pd3[ drivetimes_pd3.index.duplicated()]

In [ ]:
print('Number of duplicates: %d' % len(drivetimes_duplicates2))

In [ ]:
drivetimes_duplicates2.head(3)

# Filiale in drivetimes, aber nicht in stores_sm. Betreffen sind LAT, RLAT, usw

In [ ]:
# get all relevant hektars, i.e. those from which a Migros store is reachable
relevant_hektars = set(drivetimes_migros_pd['hektar_id'])

In [ ]:
drivetimes_rel_hektars_pd = drivetimes_pd[drivetimes_pd['hektar_id'].isin(relevant_hektars)]

In [ ]:
drivetimes_rel_hektars_stores_pd = drivetimes_rel_hektars_pd.join(
        stores_pd[['FORMAT', 'VERKAUFSFLAECHE', 'VERKAUFSFLAECHE_TOTAL', 'RELEVANZ']], how='left')
len(drivetimes_rel_hektars_pd)

In [ ]:
b=drivetimes_rel_hektars_stores_pd[pd.isnull(drivetimes_rel_hektars_stores_pd['VERKAUFSFLAECHE_TOTAL']) &
                                            pd.isnull(drivetimes_rel_hektars_stores_pd['RELEVANZ'])&
                                            pd.isnull(drivetimes_rel_hektars_stores_pd['FORMAT'])].index.unique()

In [ ]:
b

In [ ]:
drivetimes_rel_hektars_stores_pd[~pd.isnull(drivetimes_rel_hektars_stores_pd['VERKAUFSFLAECHE_TOTAL'])].head(2)

In [ ]:
np.savetxt('/userdata/pmavrodi/Projekte/Stao/output/filiale_nur_drivetimes.txt', b,  fmt='%s')

# Hektare von drivetimes_sm ohne HH. Betrifft ist (lokal) Umsatzpotenztal

In [ ]:
enriched_pd = drivetimes_rel_hektars_stores_pd[~pd.isnull(drivetimes_rel_hektars_stores_pd['VERKAUFSFLAECHE_TOTAL'])].join(haushalt_pd['H14PTOT'], on='hektar_id')

In [ ]:
enriched_pd.head(5)

In [ ]:
hektars_ohne_HH_info = enriched_pd[pd.isnull(enriched_pd['H14PTOT'])]['hektar_id'].unique()

In [ ]:
len(hektars_ohne_HH_info)

In [ ]:
np.savetxt('/userdata/pmavrodi/Projekte/Stao/output/hektaren_ohne_HH_info.txt', hektars_ohne_HH_info, fmt='%s')

# DEBUGGING MIT BOJAN

In [6]:
import pickle

In [7]:
enriched_pruned_pd = pd.read_pickle('/userdata/pmavrodi/Projekte/Stao/output/enriched_PRUNED_pd.pkl')

In [8]:
enriched_pruned_pd

,hektar_id,type,OBJECTID,fahrzeit,ID,FORMAT,VERKAUFSFLAECHE,VERKAUFSFLAECHE_TOTAL,RELEVANZ,H14PTOT,H14PTOT_corrected,LAT,RLAT,Marktanteil,LokalUP,LokalUP_corrected,Missing_HH_Hektare
0,48621110,ALD,2944,20,SM_ALD_49747_11594,Aldi Supermarkt,115.00,1000.000,0.80,NaN,1.0,48.000000,4.377652,0.068656,NaN,535.519021,True
1,48621110,COO,3382,16,SM_COO_49438_11455,Coop Supermarkt,1000.00,600.000,1.00,NaN,1.0,36.000000,3.406454,0.053425,NaN,416.712151,True
2,48621110,COO,3821,20,SM_COO_49697_11599,Coop Supermarkt,450.00,1640.000,1.00,NaN,1.0,68.533333,10.861801,0.170350,NaN,1328.726264,True
3,48621110,COO,4032,21,SM_COO_49638_11982,Coop Supermarkt,1000.00,5070.000,1.00,NaN,1.0,94.685714,13.686250,0.214646,NaN,1674.241581,True
4,48621110,DEN,1362,20,SM_DEN_49751_11594,Denner Discount,374.00,374.000,1.00,NaN,1.0,22.440000,0.630700,0.009891,NaN,77.153657,True
5,48621110,LAN,2255,16,SM_LAN_49404_11314,Landi,921.00,921.000,0.05,NaN,1.0,2.763000,0.076840,0.001205,NaN,9.399885,True
6,48621110,LID,4229,20,SM_LID_49749_11596,Lidl Supermarkt,172.00,1000.000,0.80,NaN,1.0,48.000000,4.377652,0.068656,NaN,535.519021,True
7,48621110,MAN,4290,26,SM_MAN_49996_11815,Manor,172.00,1000.000,0.05,NaN,1.0,3.000000,0.009018,0.000141,NaN,1.103202,True
8,48621110,MIG,1993,18,SM_MIG_49646_11542,migrolino,150.00,150.000,1.00,NaN,1.0,9.000000,0.207130,0.003248,NaN,25.338224,True
9,48621110,MIG,816,21,SM_MIG_49743_11609,MM,1229.50,2355.271,1.00,NaN,1.0,78.070280,11.284589,0.176980,NaN,1380.445931,True
10,48621110,MIG,803,22,SM_MIG_49768_11948,MMM,986.37,8026.021,1.00,NaN,1.0,111.577263,14.708748,0.230683,NaN,1799.323978,True
11,48621110,PAM,5154,21,SM_PAM_49690_11653,NaN,172.00,172.000,1.00,NaN,1.0,10.320000,0.135020,0.002118,NaN,16.517083,True
0,48621113,ALD,2944,16,SM_ALD_49747_11594,Aldi Supermarkt,115.00,1000.000,0.80,1.0,1.0,48.000000,7.067100,0.075386,588.008674,588.008674,False
1,48621113,COO,3382,12,SM_COO_49438_11455,Coop Supermarkt,1000.00,600.000,1.00,1.0,1.0,36.000000,6.141897,0.065516,511.028353,511.028353,False
2,48621113,COO,3821,16,SM_COO_49697_11599,Coop Supermarkt,450.00,1640.000,1.00,1.0,1.0,68.533333,15.700080,0.167475,1306.304284,1306.304284,False
3,48621113,COO,4032,17,SM_COO_49638_11982,Coop Supermarkt,1000.00,5070.000,1.00,1.0,1.0,94.685714,19.782650,0.211024,1645.989101,1645.989101,False
4,48621113,DEN,1362,16,SM_DEN_49751_11594,Denner Discount,374.00,374.000,1.00,1.0,1.0,22.440000,1.288436,0.013744,107.202607,107.202607,False
5,48621113,LAN,2255,12,SM_LAN_49404_11314,Landi,921.00,921.000,0.05,1.0,1.0,2.763000,0.188164,0.002007,15.655948,15.655948,False
6,48621113,LID,4229,16,SM_LID_49749_11596,Lidl Supermarkt,172.00,1000.000,0.80,1.0,1.0,48.000000,7.067100,0.075386,588.008674,588.008674,False
7,48621113,MAN,4290,22,SM_MAN_49996_11815,Manor,172.00,1000.000,0.05,1.0,1.0,3.000000,0.022035,0.000235,1.833428,1.833428,False
8,48621113,MIG,1993,14,SM_MIG_49646_11542,migrolino,150.00,150.000,1.00,1.0,1.0,9.000000,0.478897,0.005108,39.846025,39.846025,False
9,48621113,MIG,816,17,SM_MIG_49743_11609,MM,1229.50,2355.271,1.00,1.0,1.0,78.070280,16.311193,0.173994,1357.151192,1357.151192,False
10,48621113,MIG,803,19,SM_MIG_49768_11948,MMM,986.37,8026.021,1.00,1.0,1.0,111.577263,19.389906,0.206835,1613.311386,1613.311386,False
11,48621113,PAM,5154,17,SM_PAM_49690_11653,NaN,172.00,172.000,1.00,1.0,1.0,10.320000,0.308404,0.003290,25.660327,25.660327,False
0,48621114,ALD,2944,16,SM_ALD_49747_11594,Aldi Supermarkt,115.00,1000.000,0.80,1.0,1.0,48.000000,7.067100,0.071547,558.066254,558.066254,False
1,48621114,COO,3382,12,SM_COO_49438_11455,Coop Supermarkt,1000.00,600.000,1.00,1.0,1.0,36.000000,6.141897,0.062180,485.005904,485.005904,False
2,48621114,COO,3821,15,SM_COO_49697_11599,Coop Supermarkt,450.00,1640.000,1.00,1.0,1.0,68.533333,17.214795,0.174282,1359.397228,1359.397228,False
3,48621114,COO,4032,17,SM_COO_49638_11982,Coop Supermarkt,1000.00,5070.000,1.00,1.0,1.0,94.685714,19.782650,0.200279,1562.172485,1562.172485,False
4,48621114,DEN,1362,16,SM_DEN_49751_11594,Denner Discount,374.00,374.000,1.00,1.0,1.0,22.440000,1.288436,0.013044,101.743665,101.743665,False
5,48621114,LAN,2255,12,SM_LAN_49404_11314,Landi,921.00,921.000,0.05,1.0,1.0,2.763000,0.188164,0.001905,14.858720,14.858720,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,52261480,ALD,2879,3,SM_ALD_52228_14737,Aldi Supermarkt,115.00,1000.000,0.80,NaN,1.0,48.000000,33.515155,0.166984,NaN,1302.471509,True
1,52261480,COO,3299,2,SM_COO_52044_14784,Coop Supermarkt,1320.00,5070.000,1.00,NaN,1.0,94.685714,78.756147,0.392389,NaN,3060.634395,True
2,52261480,DEN,1358,4,SM_DEN_52162_14748,Denner Discount,374.00,374.000,1.00,NaN,1.0,22.440000,10.984565,0.054729,NaN,426.883971,True
3,52261480,LAN,2489,8,SM_LAN_51743_14718,Landi,1000.00,921.000,0.05,NaN,1.0,2.763000,0.460771,0.002296,NaN,17.906548,True
4,52261480,LID,4195,4,SM_LID_52128_14748,Lidl Supermarkt,405.00,1000.000,0.80,NaN,1.0,48.000000,29.733172,0.148140,NaN,1155.495430,True
5,52261480,MAN,4308,7,SM_MAN_52785_15135,Manor,172.00,1000.000,0.05,NaN,1.0,3.000000,0.628234,0.003130,NaN,24.414523,True
6,52261480,MIG,500,3,SM_MIG_52222_14743,M,622.05,980.929,1.00,NaN,1.0,58.855740,44.295137,0.220693,NaN,1721.404918,True
7,52261480,OTT,5210,15,SM_OTT_53667_15356,NaN,650.00,650.000,0.20,NaN,1.0,7.800000,0.322920,0.001609,NaN,12.549361,True
8,52261480,PAM,5215,10,SM_PAM_53116_15401,NaN,172.00,172.000,1.00,NaN,1.0,10.320000,1.308819,0.006521,NaN,50.863553,True
9,52261480,VOL,4529,13,SM_VOL_52258_15613,Volg,172.00,172.000,1.00,NaN,1.0,10.320000,0.704433,0.003510,NaN,27.375792,True
0,52281480,ALD,2879,2,SM_ALD_52228_14737,Aldi Supermarkt,115.00,1000.000,0.80,NaN,1.0,48.000000,37.778198,0.181354,NaN,1414.558060,True
1,52281480,COO,3299,3,SM_COO_52044_14784,Coop Supermarkt,1320.00,5070.000,1.00,NaN,1.0,94.685714,71.826460,0.344802,NaN,2689.453252,True
2,52281480,DEN,1358,3,SM_DEN_52162_14748,Denner Discount,374.00,374.000,1.00,NaN,1.0,22.440000,13.132362,0.063042,NaN,491.725117,True
3,52281480,LAN,2489,8,SM_LAN_51743_14718,Landi,1000.00,921.000,0.05,NaN,1.0,2.763000,0.460771,0.002212,NaN,17.252992,True
4,52281480,LID,4195,3,SM_LID_52128_14748,Lidl Supermarkt,405.00,1000.000,0.80,NaN,1.0,48.000000,33.515155,0.160889,NaN,1254.933687,True
5,52281480,MAN,4308,7,SM_MAN_52785_15135,Manor,172.00,1000.000,0.05,NaN,1.0,3.000000,0.628234,0.003016,NaN,23.523438,True
6,52281480,MIG,500,2,SM_MIG_52222_14743,M,622.05,980.929,1.00,NaN,1.0,58.855740,48.696787,0.233768,NaN,1823.391159,True
7,52281480,OTT,5210,16,SM_OTT_53667_15356,NaN,650.00,650.000,0.20,NaN,1.0,7.800000,0.261153,0.001254,NaN,9.778543,True
8,52281480,PAM,5215,10,SM_PAM_53116_15401,NaN,172.00,172.000,1.00,NaN,1.0,10.320000,1.308819,0.006283,NaN,49.007126,True
9,52281480,VOL,4529,13,SM_VOL_52258_15613,Volg,172.00,172.000,1.00,NaN,1.0,10.320000,0.704433,0.003382,NaN,26.376626,True
0,52291481,ALD,2879,3,SM_ALD_52228_14737,Aldi Supermarkt,115.00,1000.000,0.80,NaN,1.0,48.000000,33.515155,0.172955,NaN,1349.048740,True
1,52291481,COO,3299,3,SM_COO_52044_14784,Coop Supermarkt,1320.00,5070.000,1.00,NaN,1.0,94.685714,71.826460,0.370660,NaN,2891.151589,True
2,52291481,DEN,1358,4,SM_DEN_52162_14748,Denner Discount,374.00,374.000,1.00,NaN,1.0,22.440000,10.984565,0.056686,NaN,442.149620,True
3,52291481,LAN,2489,8,SM_LAN_51743_14718,Landi,1000.00,921.000,0.05,NaN,1.0,2.763000,0.460771,0.002378,NaN,18.546898,True
4,52291481,LID,4195,4,SM_LID_52128_14748,Lidl Supermarkt,405.00,1000.000,0.80,NaN,1.0,48.000000,29.733172,0.153438,NaN,1196.816701,True
5,52291481,MAN,4308,7,SM_MAN_52785_15135,Manor,172.00,1000.000,0.05,NaN,1.0,3.000000,0.628234,0.003242,NaN,25.287603,True
6,52291481,MIG,500,3,SM_MIG_52222_14743,M,622.05,980.929,1.00,NaN,1.0,58.855740,44.295137,0.228585,NaN,1782.963481,True
7,52291481,OTT,5210,15,SM_OTT_53667_15356,NaN,650.00,650.000,0.20,NaN,1.0,7.800000,0.322920,0.001666,NaN,12.998134,True
8,52291481,PAM,5215,10,SM_PAM_53116_15401,NaN,172.00,172.000,1.00,NaN,1.0,10.320000,1.308819,0.006754,NaN,52.682467,True
9,52291481,VOL,4529,13,SM_VOL_52258_15613,Volg,172.00,172.000,1.00,NaN,1.0,10.320000,0.704433,0.003635,NaN,28.354768,True

In [11]:
migros_only_pd = enriched_pruned_pd[enriched_pruned_pd['OBJECTID'].isin(stores_migros_pd.index.values)]
umsatz_potential_pd = migros_only_pd.groupby('OBJECTID').agg({'ID': lambda x: x.iloc[0],
                                                                  'LokalUP': lambda x: np.nansum(x),
                                                                  'LokalUP_corrected': lambda x: np.nansum(x),
                                                                  'Missing_HH_Hektare': lambda x: (np.sum(x), len(x))
                                                                 })



umsatz_potential_pd = umsatz_potential_pd.rename(columns={'LokalUP': 'Umsatzpotential',
                                                              'LokalUP_corrected': 'Umsatzpotential_corrected'})

In [19]:
aa=umsatz_potential_pd.merge(referenz_pd, left_index=True, right_index=True,how='inner')

,Umsatzpotential,ID_x,Missing_HH_Hektare,Umsatzpotential_corrected,ID_y,FORMAT,MP - CALCULATED_REVENUE 1,MP - CALCULATED_REVENUE 2,Tatsechlicher Umsatz - FOOD_AND_FRISCHE
OBJECTID,,,,,,,,,
118,1.002683e+06,SM_MIG_49995_11842,"(5, 39)",1.005116e+06,SM_MIG_49995_11842,M,7811820,3469933,16516542.0

In [21]:
aa.columns.values

array(['Umsatzpotential', 'ID_x', 'Missing_HH_Hektare',
       'Umsatzpotential_corrected', 'ID_y', 'FORMAT',
       'MP - CALCULATED_REVENUE 1', 'MP - CALCULATED_REVENUE 2',
       'Tatsechlicher Umsatz - FOOD_AND_FRISCHE'], dtype=object)

In [25]:
aa['Umsatzpotential'] / aa['Tatsechlicher Umsatz - FOOD_AND_FRISCHE']

OBJECTID
118    0.060708
dtype: float64

In [11]:
20/3500

0.005714285714285714

In [50]:
enriched.loc[ idx, 'LAT_NEU' ] = enriched.loc[idx, 'RELEVANZ'] * (enriched.loc[idx, 'VERKAUFSFLAECHE_TOTAL']/1000.0) * 60

In [10]:
enriched.head(4)

,OBJECTID,fahrzeit,hektar_id,ID,FORMAT,VERKAUFSFLAECHE,VERKAUFSFLAECHE_TOTAL,RELEVANZ,H14PTOT,H14PTOT_corrected,...,LAT2,RLAT,RLAT2,Marktanteil,Marktanteil2,LokalUP,LokalUP2,LokalUP_corrected,LokalUP2_corrected,LAT_NEU
0,6,21,61341718,SM_MIG_61607_15939,M,519.42,878.621,1.0,1,1,...,6233.04,20.090134,11.876813,0.000474,0.000428,3.699834,3.339322,3.699834,3.339322,NaN
1,20,28,61341718,SM_MIG_60500_19797,M,755.95,1300.694,1.0,1,1,...,9071.40,1.920244,1.116026,0.000045,0.000040,0.353635,0.313785,0.353635,0.313785,NaN
2,530,12,61341718,SM_MIG_61274_17700,FM,820.12,1330.134,1.0,1,1,...,9841.44,1030.567971,635.416736,0.024332,0.022905,189.791171,178.655774,189.791171,178.655774,NaN
3,836,25,61341718,SM_MIG_60926_19134,MM,850.50,1879.651,1.0,1,1,...,10206.00,8.979630,4.063082,0.000212,0.000146,1.653704,1.142389,1.653704,1.142389,NaN